[2013-05-30 21:53] zymsys opened #15 "How can findByUserIdCorrectlyHandlesBadUserId pass?"
I've merged my activation code, but I can't run the tests.  In findByUserIdCorrectlyHandlesBadUserId I'm getting:

Fatal error: Call to a member function prepare() on a non-object in /Users/vic/Sites/opencfp/classes/OpenCFP/Speaker.php on line 58
        $stmt = $this->_db->prepare($sql);

The test looks like this:

[code]

Without a mock or some kind of real db like a sqlite memory db I can't see

[2013-06-03 14:11] chartjes opened #19 "Finish "delete talk" functionality"

[2013-06-03 14:12] chartjes opened #20 "Complete validation for add/edit talk functionality"
The code is all there, just needs to be Implemented the same way the account creation code does it

[2013-06-03 14:14] chartjes opened #21 "Add 'bio' field to Speaker"
Once we approve a talk we can ask users to fill it out

[2013-06-03 14:14] chartjes opened #22 "Add 'approved' field to Talk object"
Should be set to false as default

[2013-06-03 18:30] pmeth opened #23 "Fix incorrect template reference on Add and Update talks"
they are pointing to a template called create_talk.twig, which does not exist.  I think they are supposed to be pointing to submit_talk.twig.

[2013-06-03 18:37] pmeth opened #24 "Secure pages are accessible by unauthenticated users"
Steps to reproduce:
1. Access the homepage (ie. http://cfp.dev/)
2. Without logging in, navigate to http://cfp.dev/submit_talk.php.  You will see the page.

This is probably caused by the fact that the page is using Sentry::getUser().  According to the documentation for getUser:
"Returns the user that's set with Sentry, does not check if a user is logged in or not. To do that, use check() instead.

[2013-06-03 18:38] pmeth opened #25 "Remove email activation"
Let's remove all the email activation code and put it into a separate branch.

[2013-06-03 18:41] pmeth opened #26 "Edit talk - when validation fails, still get redirected back to dashboard"
Steps to reproduce:
1. Create a talk
2. Click on Edit
3. Put an invalid value in the description (for example, put some html)
You will get redirected to dashboard.  If you go back into the entry, you will see that your changes did not get applied.  So, the validation is working it is just doing the wrong thing.  It should instead display a validation message and stay on the edit form.

[2013-06-03 18:43] pmeth opened #27 "Add a logout button."
When a user is logged in, they should see a logout button.

[2013-06-03 18:44] pmeth opened #28 "Add a change password feature"
When a user is logged in, they should be able to access a page to change their password.  They could optionally change their email too.

[2013-06-03 18:49] pmeth opened #29 "Add ability to change HTMLPurifier Cache directory"
By default, HTMLPurifier caches in the library directory.  For purifier to work, this directory needs to be writeable.  Since the library is being created by composer and nested within the vendor directory, a better option is to set the cache directory to something that is controllable by the developer.

Solution: we can add an HTMLPurifier section in the config.ini file where you can specify the

[2013-06-03 18:50] pmeth opened #30 "Populate static pages: About and Contact"
Right now, we just have some fake content there.  Before launch we should either remove those pages altogether or fill them in with some content, most likely just linking back to truenorthphp.ca

[2013-06-03 19:08] pmeth opened #31 "General code cleanup"
The validation functions for TalkForm seem to have a lot of redundant code.  For example $this->sanitize() will run several times when running validateAll().  Also, the code for validateDescription() is full of redundancies.  Specifics below:

[code]

empty() already checks isset() so isset() is not necessary

[code]

pointless declaration of a variable.  You could easily use the array version in

[2013-06-03 21:26] pmeth opened #32 "Add menu items for logged in users"
Whether a user is logged in or not, they currently only see 3 menu items, Home, About and Contact.  We should have items such as Dashboard (maybe this could just replace Home), My Profile, Logout.  It would also be nice to list the user's name near the menu so they can remember who they are :)

[2013-06-03 21:30] pmeth opened #33 "Talks List for admins"
Admins should have the ability to list talks from all users.

The list should be filterable by:
User
Talk Type
Date Submitted (from, to)

[2013-06-03 21:31] pmeth opened #34 "User list for admins"
Admins should be able to list all users and optionally delete them.

[2013-06-03 23:43] zymsys opened #36 "Unauthenticated users can pass our login check"
Sentry::getUser() can return null without throwing an exception, which passes our login test.

In my case I was authenticated, then re-imported the schema for updates, re-signed up and activated, and then my old cookie didn't match the new secret, and getUser() returned null.

There's a lot of duplication of the login code, so I'm going to move it into a controller which can be included by any of

[2013-06-06 00:24] chartjes opened #39 "Switch app to using Silex"
The app needs more structure, not just for us but for those who wish to extend it...

[2013-06-06 00:39] chartjes opened #40 "Allow users to edit accounts they've already created"
They cannot edit their email address because we use it for login via Sentry, but they should be able to change the `info` and `bio` fields for sure.

[2013-06-06 00:47] #21 closed, assigned to chartjes

[2013-06-06 01:09] #23 closed, assigned to chartjes

[2013-06-07 03:22] #39 closed, assigned to chartjes

[2013-06-07 03:22] #25 closed, assigned to nobody

[2013-06-07 03:47] chartjes opened #41 "Fix missing db object"
Ugh, broke something. Will fix it.

[2013-06-08 01:59] #41 closed, assigned to nobody

[2013-06-08 02:00] #36 closed, assigned to nobody

[2013-06-10 01:55] pmeth opened #42 "Bad login does not give any errors to user"
There are no errors displayed to users when they enter a bad username or password.  Instead the username & password fields are cleared.  I would expect typical behaviour to be:
- An error message indicating you entered a bad username or password.
- Username remains, but password field gets cleared

[2013-06-10 02:08] pmeth opened #43 "Feature Request - Forgot Password"
When a user forgets their login details, they should be able to click a link entitled something like "Forgot password?".  This would bring the user to a page where they can enter their email address and click a button.  Here is some sample verbiage:

Lost passwords cannot be recovered, however if you enter your email address below, we will send you a link that will allow you to setup a new passwor

[2013-06-10 23:23] #24 closed, assigned to nobody

[2013-06-10 23:56] #42 closed, assigned to chartjes

[2013-06-11 00:04] #27 closed, assigned to chartjes

[2013-06-11 00:51] #32 closed, assigned to nobody

[2013-06-11 00:52] #15 closed, assigned to nobody

[2013-06-12 02:09] #40 closed, assigned to chartjes

[2013-06-13 02:17] #28 closed, assigned to chartjes

[2013-06-18 01:10] #20 closed, assigned to chartjes

[2013-06-18 01:10] #26 closed, assigned to nobody

[2013-06-18 01:10] #19 closed, assigned to nobody

[2013-06-24 03:40] #30 closed, assigned to nobody

[2013-06-24 04:02] #31 closed, assigned to nobody

[2013-06-24 06:59] #29 closed, assigned to nobody

[2013-06-25 17:58] pmeth opened #45 "Unable to edit profile"
Steps to reproduce.

Go to edit profile.  Change something, hit save.  Nothing seems to happen.  Hit save again and you get an error.

Error! We were unable to update the speaker information

[2013-06-25 18:00] pmeth opened #46 "Error message not displaying on first submit of signup form"
Click submit on a blank signup form and nothing seems to happen.  Click again and you get an error message (full with escaped <br>'s).

I think this is probably to do with the flash message code we are using.  I assume it is not visible until the next page load after it is set.

[2013-06-25 18:00] pmeth opened #47 "Signup form error has escaped <br>'s and is repetitious"
Error! Missing passwords&lt;br>The submitted password must be at least 5 characters&lt;br>First name cannot be blank<br>Missing passwords&lt;br>The submitted password must be at least 5 characters&lt;br>First name cannot be blank

[2013-06-25 19:55] #47 closed, assigned to chartjes

[2013-06-26 02:56] #46 closed, assigned to chartjes

[2013-06-29 10:59] hhamon opened #48 "Composer.lock file should be in the repository"
When running the `install` command, Composer uses the `composer.lock` file first to install dependencies exactly as they are in this file. This is useful to have this file in the repository in order to always install a stable version of OpenCFP.

[2013-06-29 11:10] hhamon opened #50 "Single cache directory"
I think it would be easier to have one single `cache/` directory that contains the compiled twig templates, config and htmlpurifier data.

For example:

[code]

This will simplify cache clearing.

[2013-06-29 18:46] #48 closed, assigned to nobody

[2013-06-30 23:59] pmeth opened #52 "Symfony is catching all exceptions"
Normally this wouldn't be a problem, but it looks like Symfony is catching all exceptions and spitting out a generic "Whoops, looks like something went wrong".

We are relying on Sentry's exceptions as normal validation (which I am not really a fan of), so if they get intercepted prematurely it's a bad thing.

This is a recent issue, so not sure if this is due to some recent code changes or some c

[2013-07-01 15:18] jasonlotito opened #53 "Unable to create account"
Using the information in the screenshots below, trying to create an account fails.  You can see the information I use, and then I click the button, and the page submits and loads the page again.

![screen shot 2013-07-01 at 11 10 21 am](https://f.cloud.github.com/assets/180455/730956/e2a71304-e260-11e2-9e3f-e85222f57d81.png)
![screen shot 2013-07-01 at 11 10 29 am](https://f.cloud.github.com/asset

[2013-07-01 15:42] #52 closed, assigned to nobody

[2013-07-01 20:09] #53 closed, assigned to nobody

[2013-07-02 15:39] pmeth opened #54 "Validation issue when sumitting talks"
Several users on twitter have reported that they are filling in the title, description and type, but are receiving the error:
"You must have a title, description and select a talk type"

I have asked each of them to confirm whether this is still an issue and add the values they are trying to submit to this issue.

[2013-07-02 20:48] #54 closed, assigned to nobody

[2013-07-03 01:27] #45 closed, assigned to nobody

[2013-07-04 20:42] radekz2 opened #55 "Can't update profile description."
Text entered during registration does not get retrieved in My Profile. Attempting to re-save text from My Profile results in:

MethodNotAllowedHttpException: No route found for "POST /": Method Not Allowed (Allow: GET)

[2013-07-05 23:51] igorw opened #57 ""Note to organizers" field when submitting a talk"
Add one, so people can explain why you should accept it, point to previous videos, joind.ins, general random comments and whatnot.

[2013-07-07 14:59] igorw opened #58 "Missing LICENSE file"

[2013-07-08 16:28] chartjes opened #60 "Sentry only allows alphanumeric passwords"

[2013-07-08 17:43] #55 closed, assigned to nobody

[2013-07-08 18:13] #60 closed, assigned to nobody

[2013-07-08 18:13] #58 closed, assigned to nobody

[2013-07-15 21:58] mkmcdonald opened #61 "“Full-Day Tutorial” Option Template Typo"
The “Full-Day Tutorial” option inside of the “talk_form” template [0](https://github.com/chartjes/opencfp/blob/master/templates/talk_form.twig) contains a typo which leads to a text node containing “selected Full-day tutorial” being created if that particular option is selected. The culprit is a premature right angle bracket.

Original Code:

`<option value="full-day-tutorial"> {% if type == 'full

[2013-07-16 20:24] #61 closed, assigned to nobody

[2013-07-22 14:18] #43 closed, assigned to nobody

[2013-07-25 18:59] fentie opened #76 ""display_errors" is On for the live site"
Just letting you guys know. I saw an error related to session_gc (no screenshot, sorry) show up on the live site. I'd provide a PR for it but I still suck at puppet.

[2013-07-28 03:14] #76 closed, assigned to nobody

[2013-08-01 19:11] mkmcdonald opened #77 "Submissions Bypass Given Expiry Date"
I do not know if there is any hard-coded expiry date in the application itself, but I am able to submit sessions even though the expiry date for True North PHP has passed.

If there is no explicit expiry date feature, then I hereby suggest that it be added. If there is one, it failed for the True North PHP implementation.

[2014-06-18 01:23] adamculp opened #83 "Speaker related data missing"
Some users experiencing missing speaker data (bio, headshot, other info) after creating profile. It was very patchy, and was almost 50% of users had this happen.  Only the initial creation is having problems.  The updating of a profile works all the time, from info I gathered.

My guess would lean toward the new headshot upload when the user is initially created.  Not sure why that would be, but i

[2014-06-18 01:23] adamculp opened #84 "Airport needs to be clarified"
The Airport field in the user info is not clear.  It needs to be the 3 character airport code, not the city or other info.

[2014-06-18 01:25] adamculp opened #85 "Talk update form bug"
Some users experience issues where they were not able to update talk info after initial submission. (mostly the talk type dropdown, but affected other fields as well)

My guess is that certain security related browser plugins are at fault.

[2014-06-19 20:39] adamculp opened #87 "Add public rating capability"
Enable public visitors to rate talks, to help indicate what community/public would like to see.

Would need to include some sort of logic to reduce duplicate ratings on the same talks. (no ballot stuffing)

[2014-07-08 00:41] #84 closed, assigned to nobody

[2014-07-08 16:46] adamculp opened #90 "Speaker email"
Send an email to speaker after talk submission.

[2014-07-08 22:10] #34 closed, assigned to nobody

[2014-07-10 14:09] #77 closed, assigned to nobody

[2014-07-10 14:09] #90 closed, assigned to nobody

[2014-07-15 23:28] adamculp opened #96 "Revamp dashboard"
use the dashboard real estate a bit better.  Could put profile info on the dashboard, and talks. So speakers would notice if items were missing from their profile.

[2014-07-16 07:35] Danielss89 opened #97 "Centralized api"
My idea is that a lot of conferences will use this "tool", so it would be cool to create a centralized API which stored users, talks etc. so you, as a speaker, doesn't need to create the same profile on all the conference sites, the same talks. etc.

[2014-07-25 18:19] prpatel opened #102 "Add 'requires mod_rewrite to be enabled' to installation doc"
I haven't coded PHP in over 10 years, but the installation guide got me a working setup except for one issue. Documenting here in case someone else runs into the issue. I was getting an error of not able to find "/login" in my opencfp installation. The fix was to enable mod_rewrite for Apache, and also change in the apache config this: "AllowOverride all".

[2014-08-16 21:22] #102 closed, assigned to nobody

[2014-08-16 21:25] #97 closed, assigned to nobody

[2014-08-16 21:29] pmeth opened #107 "CFP closed view"
Once the CFP end date has passed, there is no visual indicaton on the homepage.  The only indication I see is when someone tries to login or create an account.

Also I think we should still probably let people create accounts and login after the CFP is closed, but just not let them submit talks.  For example, how is an administrator supposed to login to perform administrative tasks?

[2014-08-16 21:33] #33 closed, assigned to nobody

[2014-08-17 13:09] #83 closed, assigned to nobody

[2014-08-17 13:09] #85 closed, assigned to nobody

[2014-08-17 13:13] pmeth opened #108 "Admins cannot login once CFP is closed"
Administrators need to be able to login after CFP has closed.  Currently they are presented with a message "Error: Sorry, the call for papers has ended."

[2014-08-20 17:58] zymsys opened #109 "Favourites don't work"
I wanted to favourite talks for this year's conference, but the indicator toggles without updating the database.

I fixed the issue on [a branch in my repo](https://github.com/zymsys/opencfp/tree/favourite), but unearthed a few issues on the way.

The schema spells it favourite, but the php and twig spell it favorite. We need to pick one. I vote for favourite because we're Canadian here in the Tru

[2014-08-22 16:23] #108 closed, assigned to nobody

[2014-08-23 12:44] chartjes opened #110 "Create better integration tests for critical function"
I removed WebTest.php as it was failing when running on the CLI but I could clearly log in my dev environment during development. A better set of integration tests are needed later on

[2014-08-23 17:17] #96 closed, assigned to nobody

[2014-08-23 17:34] #22 closed, assigned to nobody

[2014-08-25 20:14] #109 closed, assigned to nobody

[2014-08-25 20:16] chartjes opened #111 "Making templates more generic"
One of the more annoying things is how to handle the fact that everyone needs to edit the templates to put their own branding on things. I'm open to suggestions on a better way to handle this.

[2014-08-30 02:56] adamculp opened #113 "TalkForm error messages not making it to controllers"
When an error message is triggered from TalkForm.php using $this->_addErrorMessage(), it is not being returned to the controller so it can properly be presented to the user on form submission.

I already fixed this locally. Will submit PR later.

[2014-08-30 03:57] adamculp opened #114 "Validation broken"
When a talk is submitted the title is being validated with ezyang HTMLPurifier.  Then the validation in TalkForm.php is comparing a tainted and cleaned value.  If a "&" character is entered in the title it fails because ezyang converts it to entities, and validation fails.

[2014-08-30 20:07] saro0h opened #115 "Creation of speaker form ot working"
Hi,

I attempted to create my profile on http://cfp.sunshinephp.com/signup.

It worked partially : my picture wasn't uploaded, I checked "Airfare?" and "Help with hotel cost?" checkbox.

In my profile resume, I can't see my picture, and the fields  "Airfare?" and "Help with hotel cost?" are noted to no. And the bio is not displayed.

![capture d ecran 2014-08-30 a 22 06 34](https://cloud.githubuse

[2014-08-31 15:11] #113 closed, assigned to nobody

[2014-09-03 19:16] jaytaph opened #120 "Errors while adding talk with &amp; in it"
When adding a talk with an &amp; in it (like: "Alice & Bob: public key cryptography"), it seems to be triggering an internal error. It happened on the PHPBenelux website. The talk itself seems to be saved into the db, as it is visible at my talks, but I didn't get a confirmation email, plus it resulted in an internal server error page while posting the talk.

[2014-09-03 19:17] jaytaph opened #121 "html entities are not displayed or saved correctly."
HTML entities like & are displayed incorrectly after a talk has been saved.

For instance: a talk title entered like "Alice & Bob: public key cryptography 101" is displayed on the site as: "Alice &amp; Bob: public key cryptography"

[2014-09-06 14:22] #115 closed, assigned to nobody

[2014-09-07 13:30] #121 closed, assigned to nobody

[2014-09-07 13:35] #120 closed, assigned to nobody

[2014-09-07 13:35] #114 closed, assigned to nobody

[2014-09-10 23:06] mkmcdonald opened #123 "When Viewing a Valid Talk, `TalkController::viewAction` Sends a 404"
I noticed earlier today when I tried to edit (view) my only submission (id: 399) that it responded with a 404 status. As indicated[[0]] in the controller, the user is to be redirected to a “read-only” view when trying to edit a talk after the CFP has closed.

Furthermore, when navigating to other CFP pages, a flash message appears as follows:

Upon viewing another CFP page, the flash message, as i

[2014-09-15 08:29] assertchris opened #125 "[Proposal] Add JSON export/import."
I've submitted papers to like 5 conferences in the last month and all of them use OpenCfP. Would you accept a pull request for this?

[2014-09-17 02:00] #57 closed, assigned to nobody

[2014-09-19 14:24] #123 closed, assigned to nobody

[2014-09-19 15:51] #50 closed, assigned to nobody

[2014-09-19 21:22] mdwheele opened #138 "[Proposal] Development Utilities"
Just dropping a punch-list here of things I've wanted to "grab for" working on this recently. If folks want to add to this list, I'll likely be implementing as part of helping shore up our current test-suite.
- Maintainable set of fixtures or even a static set of basic test data.
- Console application to wrap tasks (bust caches, promote admin users, etc.) currently being automated as scripts in `t

[2014-09-19 22:08] mdwheele opened #139 "[Proposal] Extract critical features / use-cases into services."
I would like to propose a line of development on OpenCFP that:
- Explicitly identifies core feature offering as Behat feature descriptions and (long-term) context specifications.
- Extracts logic currently housed in controller-methods to a set of services that could be re-used towards the beginnings of an API for read (and eventually write) operations.

**Behat Feature Descriptions**

First, I am

[2014-09-21 02:53] mdwheele opened #143 "TravisCI builds are passing with PHPUnit error + exception"
Somehow, Travis is reporting a passing build even though an exception is thrown and PHPUnit errors are reported in the console output from the build.

Take a look at this passing build in Travis:  https://travis-ci.org/chartjes/opencfp/jobs/35825268

![image](https://cloud.githubusercontent.com/assets/2453394/4347181/35df34dc-413a-11e4-8e05-279cabf69449.png)

The two failing tests before `exceptio

[2014-09-21 18:15] coderabbi opened #145 "[Proposal] Allow '&' in Talk Title"

[2014-09-23 01:03] #143 closed, assigned to nobody

[2014-10-13 12:43] tobiasgies opened #153 "Allow users to view their submissions after CFP has ended"
As someone who has submitted talk proposals, I'd like to be able to view my talk proposals after the CFP has ended. Currently, all I get is an error message telling me that I can't edit my talks after the CFP has ended. I'd like it if the "edit" link were replaced by a "view" link after the end of the CFP, so I can still see what exactly I submitted.

I'm willing to implement that feature myself a

[2014-10-28 14:43] jsundquist opened #159 "Remind users who have registered they have no talks submitted"
As of right now there is no way to trigger users to remind them that they have registered to the call for papers site and have not submitted any talks yet.  It might be a nice enhacement to be able to send an email to those users that the call for papers closes on X date and they have not submitted, or possibly inform all users they have submited x, talks as a reminder to submit soon.

[2014-11-11 14:35] jakefolio opened #161 "Functional tests are too specific to default config values"
If I try to run the functional (behat) tests on my local install for Lone Star PHP, tests will fail. The tests fail because they're looking for specific dates that are default values. I think the behat tests should be re-evaluated to avoid testing default values from the config and text that will most likely change from each install. I think if we put the emphasis on testing flash messages to veri

[2014-11-11 15:15] jakefolio opened #163 "Transition from Sentry to Silex Security"
Sentry is no longer being supported/maintained, and I think it would be best to move away from it. We need to rid ourselves of the multiple DB libraries and this move will allow that. My suggestion is to move to something like: https://github.com/jasongrimes/silex-simpleuser

I would love to hear some feedback on this topic.

[2014-11-22 16:11] #139 closed, assigned to nobody

[2014-12-01 03:47] josegonzalez opened #165 "Add screenshots to the readme"
As suggested [here](https://twitter.com/savant/status/535594242664824832)

/cc @chartjes

[2014-12-02 21:54] senf666 opened #166 "development.yml' does not exist"
My .htaccess sets CFP_ENV as **production**
$ more .htaccess

[code]

**So why the heck am I getting a complaint regarding development not being set? Any ideas ? Maybe .htaccess isn't actually being used hence the variable isn't being set ?**

[code]

[2014-12-02 23:13] DannyCork opened #167 "modify openCfp to work for folder installation"
I tried installing OpenCfp in a subdirectory of a domain eg:domain.com/opencfp. I got a lot of 404 errors which relate to missing assets.

I belive that openCfp makes the assumption that it will only ever be installed in root eg:cfp,xxx.com or www.xxx.com. I believe this is due to the the .twig files in templates/layouts/
[code]
I believe that by adding the site url variable before any links shoul

[2014-12-03 10:04] senf666 opened #169 "Installation problem : lots of 404s"
Hi,
I'm getting a lot of 404s for various pages eg:

[code]

It's a brand new install at http://cfp.chickenkiller.com/

**php and apache versions**

[code]

**phinx**

[code]

**http.conf**

[code]

**development.yml**

[code]

Any ideas ?

[2014-12-03 13:00] #166 closed, assigned to nobody

[2014-12-04 00:25] #165 closed, assigned to nobody

[2014-12-04 00:26] #169 closed, assigned to nobody

[2014-12-11 12:09] elazar opened #170 "Avatar doesn't appear upon account creation"
If I specify an avatar when creating a new account, that avatar doesn't appear on my dashboard; in its place is a broken image icon. If, after creating the account, I edit my profile and specify the same image again, it appears as expected.

[2014-12-19 21:17] #138 closed, assigned to nobody

[2014-12-19 21:31] mdwheele opened #171 "Contribution Guidelines"
With so much of the application bootstrap changed recently and with the introduction of request interface-specific namespace patterns and the beginnings of a service layer, I think now is a good time to draft a light-weight document that attempts to answer the question of "Where does this-or-that go?".

I'll send along a PR that includes a `contributing.md` that details:

* Current and Intended Ap

[2014-12-31 19:34] #145 closed, assigned to nobody

[2014-12-31 19:38] #110 closed, assigned to nobody

[2015-01-12 13:18] coudenysj commented on #153
+1 @tobiasgies need any help with this?

[2015-01-12 13:21] tobiasgies commented on #153
@coudenysj I'm currently quite short on time. I stand by my intention to implement this feature, but don't know when I'll be able to get to it yet. If you'd like to take over, feel free.

[2015-01-14 04:03] mdwheele commented on #171
Dropping some notes here. Going to get on a whiteboard sometime tomorrow or so and draw some simple diagrams up.

**Handling Requests**

Important to think of application as almost an onion with layers. The application is going to handle requests coming in and issue appropriate responses, yadda yadda.

There are a few types of requests that can come in:

* Web UI Requests (the current web applicat

[2015-01-14 04:09] mdwheele commented on #171
Oh, something else that I think will be a good idea to set as a "standard" would be that anything that leaves the service layer should be treated as immutable.  In other words, a web controller shouldn't query for a `SpeakerProfile` and then start adding talks. That would mean that logic for adding talks has leaked into presentation areas of the application.  Having the object be treated as immuta

[2015-01-14 04:26] mdwheele commented on #171
Lastly should highlight the point that "service layer" is nothing special and the described abstractions above (having services for things like auth and all that) are really doing nothing more than isolating and distilling a bunch of Lego blocks you can more sanely test and trust; composing them to pull off / orchestrate behavior (responsibility of an "application service", a big wrapper for orche

[2015-01-14 14:41] chartjes commented on #171
Okay, so we're starting to veer off course here into a discussion on overall architecture for the application. I don't see anything IN PRINCIPLE that I disagree with here, but the first step is that we need to get a working API in place so people can make it easier to submit their talks to multiple OpenCFP sites.

At the highest level, we need a way for external apps to submit talks. I don't care

[2015-01-14 15:13] mdwheele commented on #171
Agreed 100%. Made this issue in response to the suggestion in irc that there be a guide or "lay of the land" for things once everything settles so there's some "pie in the sky" here for sure.

I think the idea you had is pretty badass and on mark for the biggest use case for the api. I posted an issue over on Matts repository regarding something similar. https://github.com/mattstauffer/savemypropo

[2015-01-24 03:55] justafriendofyours opened #177 "User Enumeration Vulnerability"
I found your project when registering during a CFP.

The forgot password page (/forgot) has a [user enumeration vulnerability](https://www.owasp.org/index.php/Testing_for_User_Enumeration_and_Guessable_User_Account_%28OWASP-AT-002%29).

If I type in an invalid username such as `notreal@example.com` I receive a message back indicating the following:

A valid e-mail account gives a distinctly differ

[2015-02-04 15:57] chartjes commented on #177
So what is your suggestion for a better error message?

[2015-02-05 15:38] jvoisin commented on #177
Maybe something like "If your email was valid, we sent a link to reset your password at $EMAIL_ADDRESS".

[2015-02-05 16:56] chartjes commented on #177
I changed the error message, thanks for the feedback @jvoisin @justafriendofyours

[2015-02-05 16:56] #177 closed

[2015-02-09 03:51] #167 closed

[2015-02-09 03:52] chartjes commented on #125
Creating an API, so this one is being closed

[2015-02-09 03:52] #125 closed

[2015-02-13 15:27] #111 closed

[2015-02-24 18:52] chartjes opened #179 "Error complaining about missing group during user signup"
Vance Lucas reported that he is getting an error
http://cl.ly/Zw3P

[2015-02-24 18:52] chartjes commented on #179
A test is required for the signup controller to duplicate the problem.

[2015-02-24 21:47] mdwheele commented on #179
This is covered end-to-end [here](https://github.com/opencfp/opencfp/blob/master/tests/functional/visitor/registers-as-speaker.feature#L13-L17).  I am able to reproduce locally by dropping the `Speakers` role from the `groups` table. We can write something up that would mock that "suddenly becoming unavailable", but that seems like a pretty deep problem. If the database just started getting thrash

[2015-02-24 21:49] chartjes commented on #179
Vance said he ran the migrations. I am wondering if I should try creating a brand-new VM and run the migrations on it

[2015-02-24 22:17] mdwheele commented on #179
That's an idea. I've dropped my database and re-ran migrations a few times and everything is peachy until I remove the `Speakers` role. Same error. I also can't find anywhere that would provide allowance for mutation of that in source either.

Could we verify that his database has both required groups from the migration? If it does, then it's very curious that Sentry cannot find the group. I'd be

[2015-02-25 12:55] vlucas commented on #179
The situation is weird. I did run the migrations, and I do have the necessary groups in the database: http://cl.ly/ZvDh

I am still investigating as well. This error is happening both locally and on the CFP instance I setup on my VPS.

[2015-03-02 20:06] vlucas commented on #179
I went through the setup process again and discovered the issue was a database DSN that is structured differently than the provided one in the sample config files. There are no errors about the DSN string format or parsing it, etc. so that's why this error is so weird.

Format Expected: `mysql:dbname=cfp_tp;host=127.0.0.1`
Format Given (that does not work): `mysql://root@localhost/cfp_tp`

What tr

[2015-03-02 20:43] mdwheele commented on #179
Yeah... that's pretty annoying. My understanding is that the PDO MySQL connector does not allow credentials to be passed according to the standard [DSN format](http://en.wikipedia.org/wiki/Data_source_name). I bet there's *some* level of sanity checking we could do for stuff like this though if it would be valuable. Odd that PDO itself doesn't barf on it.

Other than that, sorry for the troubles!

[2015-03-04 01:32] mdwheele commented on #170
Was taking a look at this and cannot seem to reproduce the issue on master. If you get a chance, could you try again and if it can be reproduced send any other information that might help?

[2015-03-04 01:53] mdwheele commented on #179
Heh... so... while it's good that the work in #182 is done so that there is some pre-flight for PDO's service provider; I was doing some other work on the project and remembered that both [Sentry](https://github.com/opencfp/opencfp/blob/master/classes/OpenCFP/Provider/SentryServiceProvider.php#L18-L26) and [Spot](https://github.com/opencfp/opencfp/blob/master/classes/OpenCFP/Provider/SpotServicePr

[2015-03-04 03:22] mdwheele commented on #153
@coudenysj @tobiasgies Could you two take a look at #183 when you get a second? The capability to view a talk after CFP has ended is now implemented. I wanted to make sure what was done was actually what you were expecting because, for the most part, it seemed to already be done.

Current master shows an "Edit" button that, when clicked, shows a flash message of "Blah blah after CFP", but otherwis

[2015-03-04 03:35] mdwheele commented on #107
@pmeth This is pretty old at this point. I've got a few updates and some next steps:

- [ ] There should be visual indication on homepage once the CFP is closed.
  - What should that look like? e.g. "Sorry folks, [...]. Try again next year!"?
- [x] Speakers and admins are able to authenticate after the CFP is closed.
- [x] Speakers cannot submit, edit, or remove talks after CFP is closed.
- [x] Sh

[2015-03-04 06:53] coudenysj commented on #153
Thanks @mdwheele. Are you sure the current master shows the information after clicking the edit button?

The problem was not that the label was wrong, but that we could not access the talk information after the CFP has ended.

Looking at your screenshots, I see that problem is resolved, so thank you very much!

[2015-04-24 18:54] chartjes opened #191 "API to allow remote submissions"
Create an API to allow users with valid accounts submit talks via 3rd party software

[2015-04-24 19:22] mdwheele commented on #153
@chartjes this can probably be closed unless there's anything else.

[2015-04-24 19:23] #153 closed

[2015-05-10 21:04] zymsys opened #193 ".htaccess in repo"
Could we reconsider having the .htaccess files in the repo? I would prefer supplying a distribution .htaccess file with a different name and adding something to the installation documentation about copying that suggested version and modifying it if needed.

Also, is there any reason for .htaccess files in both the root folder and the web folder? Can we pick one location and merge them?

I'd be hap

[2015-05-10 22:53] mdwheele commented on #193
Note also that the file in web is missing APP_ENV directive.

[2015-05-11 11:40] mdwheele commented on #193
This makes sense if it buys anything for user. @chartjes will have to comment on what he feels the "installation experience" should be for a new user as he has the best grasp on who is using this and how they're using it. Theoretically, it makes sense though.

Many shared hosts disallow the ability to specify Apache/Nginx document root path. Specifying document root at the `web` directory is safer

[2015-05-11 11:50] mdwheele commented on #191
@chartjes do you know if anybody has taken up this work other than the commits you've put down on #174? It's probably a good candidate for cross-project work at tek between OpenCFP and [Symposium](https://github.com/tightenco/symposium). Anywho, I've got time to put down on building this out. I just wanted to get some thoughts from you on a few stories before getting started.

[2015-05-11 13:24] chartjes commented on #191
Nobody has done anything else about it. I should just delete the PR and think of a more robust solution

[2015-05-11 13:47] pmeth commented on #193
My 2 cents:
1. project root should not be accessible so no need for .htaccess there.  @dustin I understand your point about different hosting companies, but we should not be catering to bad hosting companies, we should be encouraging users to leave them.
2. APP_ENV does not belong in .htaccess.  This should be configured by the server
3. The current .htaccess in /web is part of the front controlle

[2015-05-11 13:58] mdwheele commented on #193
Agree, personally. Hypothesizing on reasoning here for having both. Chris can speak better to this, for sure.

Agree in scenario where user is knowledgable to do so themselves. We have opportunity to provide resources for transferring that knowledge at the cost of then maintaining that resource. Trade-off.

This is arguably server configuration the same as environment variables. It's infrastructur

[2015-05-11 14:01] mdwheele commented on #191
I'll put some thoughts together and want to take a swing, if you're amenable. If you'd rather take it on yourself, that's cool too! :smile:

[2015-05-11 14:03] chartjes commented on #191
I would rather that the damn thing get done, don't care who does it.

--
Chris Hartjes chartjes@littlehart.net

On Mon, May 11, 2015, at 10:01 AM, Dustin Wheeler wrote:

Links:

  1. https://github.com/opencfp/opencfp/issues/191#issuecomment-100917607

[2015-05-11 14:04] mdwheele commented on #191
Roger.

[2015-05-13 21:57] mdwheele commented on #191
Will be sending a documentation PR drafting usage and configuration of API tomorrow evening. This will be ahead of an implementation following shortly after. I've got most of the plumbing done on this and am just plugging implementations in at this point. Hopefully, we can discuss more next week in-person, make adjustments and :shipit: Was able to consolidate a lot of stuff into the service layer

[2015-05-22 13:29] mdwheele commented on #191
Implemented in #197

[2015-05-22 13:29] #191 closed

[2015-05-22 13:33] mdwheele commented on #161
Functional tests have been removed in favor of improving controller coverage through unit tests. Behat suite was completely intended to provide rough "coverage" over most important use-cases while a large refactor happened a while ago.

An abstraction providing information on whether or not the CFP is open is now available (`CallForPapers->isOpen()`) that is meant to be used as configuration depen

[2015-05-22 13:33] #161 closed

[2015-05-22 13:35] mdwheele commented on #107
@pmeth Are we good to close this issue out? I'm going to create an issue for the incomplete bullet point above, but since it's not entirely related to this issue, I think everything else is accomplished?

[2015-05-22 16:27] mdwheele opened #201 "Improved error handling covering web, API and OAuth2 end points"
I have an implementation of an error handler that does a few things for us:

1. Helps start reducing the ordering problem that exists in current service providers.
2. Responds appropriately when I caught exceptions occur. Currently an uncaught exception in the API renders a twig template. This is unexpected as a consumer of an API.

This is foundational to continued work simplifying / consolidatin

[2015-05-22 16:35] mdwheele opened #202 "Group service registrations according to purpose."
Currently, there are service providers for days and things can be confusing to deal with. Also there are ordering problems where by things can be registered in sequences that will actually cause the test suite to fail.

I would like to reorganize service providers according to more semantic roles as follows:

1. Route / HTTP gateways should be registered in gateway specific providers (web, API, OA

[2015-05-23 15:55] zymsys commented on #193
I'm going to make one more plea and then let it go. I have to disagree with Pete in that the .htaccess file is not part of the front controller. To me a front controller is software and a .htaccess file is configuration. The app's configuration is distributed in config/environment.dist.yml with instructions to copy this to config/environment.yml. It would be consistent with this to also provide a

[2015-05-23 16:12] chartjes commented on #193
I think I like the idea of a htaccess dist file, seems like a good compromise

Sent from my GrumpyPhone

[2015-05-23 16:31] mdwheele commented on #193
Distribution Apache config is good idea. I, too, come from an environment that uses virtual hosts rather than htaccess to configure this type of thing. My own virtual machine does the same. I am configured to not use the provided htaccess at all.

However, this level of experience requires more ops experience than simply providing a distributable htaccess. I think merged or not is okay, but both m

[2015-05-25 08:11] chrispecoraro opened #206 "Hiding names for anonymous initial abstract evaluation process"
I hacked up opencfp to hide the names from the abstracts so that we can anonymous evaluate them.
If I add a toggle button to show/hide names, is it worth it doing a pull request for this?

[2015-05-25 08:12] chrispecoraro opened #207 "Removing flight/travel cost for online conferences"
I hacked up openCFP to hide the travel information from the speaker registration when the conference is online.
Is it worth it to do a pull request for this? I'd have to figure out how it work it into the settings.

[2015-05-25 10:37] mdwheele commented on #206
Could you send a link to implementation? I think it depends on what "hacked up" looks like. Ideally this would be done at the service level as part of some DTO returned to be exposed by both web and API end points.

[2015-05-25 10:37] mdwheele commented on #207
Could you send a link to implementation? I think it depends on what "hacked up" looks like. Ideally this would be done at the service level as part of some DTO returned to be exposed by both web and API end points.

[2015-05-25 10:50] chrispecoraro commented on #207
I hacked it up for my own needs, but what I would do is actually write it in a proper way and then send the pull request. For the API, I'm not sure if it matters since interface designers could just use whichever information that they want.

[2015-05-25 11:34] mdwheele commented on #207
Ah! I misread what this was was actually referring to. I thought it was directly related to the other issue you submitted re: anonymous abstract submissions. You're actually talking about implementation of variable account creation interface (front-end) display, correct?

If so, the fields related to flight/travel cost are already optional so having a configuration option for show/hiding fields on

[2015-05-25 12:45] chrispecoraro commented on #207
There's not just to show. All I did was comment out wherever "submitted by" shows the name. Since I know most of the submitters to the online conference, I didn't want that to bias the selection. After we pick the winning abstracts, we'll then show the names. Since it's an online conference, flight/travels don't matter.

[2015-05-25 13:50] chartjes commented on #207
@chrispecoraro Put together a PR and I'll take a look. Like @mdwheele mentioned we already have a configuration option for showing/hiding those fields and they are not considered required fields for validation purposes.

[2015-05-25 13:51] #201 closed

[2015-05-25 14:17] chrispecoraro commented on #207
I must have not read through things well enough then. How can I disable flights/travel related information?

[2015-05-25 14:24] chartjes commented on #207
Hrm, I don't see it in there either. Could've sworn that it was in there.

I would be happy to take a look at a PR that makes this possible

[2015-05-25 14:56] chrispecoraro commented on #206
Again here I'm referring to the interface. I was thinking of a simple global toggle control which hides/shows "submitted by" names.

[2015-05-25 18:23] chartjes commented on #206
Again, please send a PR to hide names from abstracts as a configurable option or else the issue might get closed

[2015-05-26 06:43] chrispecoraro commented on #206
For my needs, I just commented out places in the template where the "submitted by" was showing. To do it properly, I would need a few days, that's why I was asking first if it would be useful. If you want, you can close this issue then I'll submit code when it's ready.

[2015-06-09 07:19] bcremer opened #208 "Command cache:clear missing env option"
Given `config/development.yml` does not exist, only `config/production.yml` it is not possible to run the `cache:clear` command because it lacks the `env` option:

[code]

[code]

As a workaround one can use the environment variable prior executing the command:
[code]

[2015-06-11 18:25] bcremer commented on #208
Fixed in PR #209

[2015-06-11 18:25] #208 closed

[2015-06-16 03:48] mdwheele commented on #170
I can't reproduce this and I've tried all manner of combinations and voodoo to attempt to get it to fail. I'm going to close this out, but if you can reproduce, do comment back and we'll reopen and nail it down.

[2015-06-16 03:48] #170 closed

[2015-06-26 20:12] mdwheele opened #214 "Profile edit with failed validation is unrecoverable."
Will be writing a test and patch for this. Just wanted to jot down notes. I found this while working on #213.

**Steps to reproduce**

1. Have an account with OpenCFP
2. Authenticate
3. Edit Profile
4. Remove `last_name`, a required attribute. Attempt save.
5. See validation error (`Error: Last name was blank or contained unwanted characters`).
6. Add a valid `last_name` and save.
7. Expected SUCC

[2015-07-28 19:24] #206 closed

[2015-07-29 13:58] yitznewton commented on #193
Looks like this is ready to close

[2015-07-29 14:55] yitznewton opened #234 "Adding code style/quality tools"
I propose we add style and quality tools to the Travis build, which would both communicate the project's code requirements to developers automatically, and alleviate the need for reviewers to comment on style violations. My recommendations:

* http://phpmd.org/
* https://github.com/FriendsOfPHP/PHP-CS-Fixer

I'll be happy to set those up

[2015-07-29 14:56] yitznewton commented on #234
There's also codesniffer; at my last PHP shop we used all three of these. I'm not sure what PHP_CS adds over phpmd

[2015-07-29 15:49] #193 closed

[2015-07-29 16:21] mdwheele commented on #234
PHP_CodeSniffer detects violations of specified code style. PHP-CS-Fixer simply builds on top of that to auto-fix those violations for you. Not sure if it would ever make sense to run both since PHPCSF covers that entire use-case (identification (through `--dry-run`) of violations as well as fixing). PHPMD isn't as much concerned with code-style as it is an attempt at static analysis of code. It's

[2015-07-29 16:33] yitznewton commented on #234
I'm not a fan of autocorrect in the background; I was trying out the tools on a different codebase, and it did break some things.

My suggestion would be, set up CS-Fixer for dry run to break Travis, assuming there's not major blockers as far as fixing existing issues in the code as it is today.

I'll try a branch and see what that looks like

[2015-07-29 18:03] localheinz commented on #234
@yitznewton

:+1: for `php-cs-fixer`! Also comes with possibility to cache between builds, see https://github.com/FriendsOfPHP/PHP-CS-Fixer/tree/master!

[2015-07-29 18:06] localheinz commented on #234
@yitznewton

Also cool: provide a `Makefile` with a `cs` target, so you can run the fixer locally, too!

[2015-07-29 19:34] yitznewton commented on #234
Heh @localheinz, where have I seen that before :wink:

[2015-07-29 19:52] localheinz commented on #234
@yitznewton

Maybe here: https://github.com/zendframework/modules.zendframework.com/blob/master/.travis.yml?

Hehe.

[2015-07-29 21:06] yitznewton commented on #234
Mwahaha https://github.com/easybiblabs/oauth2-client-php/blob/master/Makefile#L14-L16

[2015-07-29 21:26] localheinz commented on #234
@yitznewton

Till added it for GetCourse! Great idea back then.

[2015-08-04 13:50] #214 closed

[2015-08-13 17:41] rdohms opened #236 "Use API to get data out of OpenCFP"
As discussed on Twitter.

My usecase is we would like to have a place where we can constantly let speakers sign up their talks and list them on a page so we can see who is available, as a tool for UGs to find new speakers for example.

We can do this as a modded version of the site, but the ideal scenario is using the API to grab the data from an OpenCFP install and not have to touch the source co

[2015-08-14 14:11] pmeth opened #237 "Admin section wishlist"
Using admin section for first time this year, some things jump out at me as being missing.  Note I don't have time right now to look at any of the code to see why or fix any of these things, just putting here in case someone gets ambitious and wants to address these:
Menu:
- page you are on should have a "selected" class
- names should match the headings of the pages (eg: menu says "Talks", page s

[2015-08-14 14:14] pmeth opened #238 "Keywords"
talks should have keywords, so we can do things like view all the Composer talks submitted to make it easier to choose just one

[2015-08-14 14:46] pmeth opened #239 "cost calculator"
use some sort of api maybe to get flight costs based on the user's airport and display in admin pages. this should probably even be elevated to the user level when they are configuring their profile, that way user can verify that we have the right airport.

would also like to see some sort of hotel cost calculator and maybe let the user configure their hotel stay.

these would be very helpful when

[2015-08-30 09:48] localheinz commented on #234
@yitznewton

Turns out, though, that I was the one originally adding `phpcs` and `phpmd` for `getcourse/api` - code was in a mess back then.

[2015-09-18 11:01] Seldaek opened #254 "[Enhancement] Encouraging organizers to document the workshop duration"
I am not sure how to best achieve this, but most CFPs I see let you choose between talk/workshop but there is no information as to how long a workshop is. As these tend to vary between 1h30, 3h and 6-8hrs full day workshops, it is quite relevant information and certainly all topics don't fit all workshop lengths. Maybe if there was a default length indicated in the default talk type dropdown it'd

[2015-10-28 20:49] jsundquist opened #255 "Hide admin side menu on mobile devices"
Currently when looking at the admin panel on a phone or mobile device the left hand menu takes up half of the screen.

Consider moving the admin panel within the parent menu structure to better utilize the screen space

[2015-11-13 12:10] michaelcullum opened #256 "Missing argument"
on viewing a talk as an admin user.

[2015-11-14 21:40] michaelcullum opened #257 "Add export talks list feature"
- [ ] Export list of talks to CSV (one talk per row) with all information including speaker bio etc.
- [ ] Export list of anonmised talks to CSV (Talk title, length, category and abstract)
- [ ] Export list of email addresses for accepted talks
- [ ] Export list of email addresses for speakers with only rejected talks

[2015-11-15 21:48] michaelcullum commented on #257
@jakefolio Would it be possible to get an icon done for the admin side menu?

[2015-11-15 21:51] michaelcullum commented on #257
POC: https://github.com/opencfp/opencfp/compare/master...michaelcullum:export-feature

Fully working but could use a little tidying but if the powers that be (@mdwheele?) are happy with that as-is then I'm happy to send up a PR.

[2015-11-15 22:13] chartjes commented on #257
Would love to see a PR please

[2015-11-15 23:12] mdwheele commented on #257
Yeah, send a PR and I'll gladly review. Few things from diff I'd immediately ask for change:

* Use of boolean `$userData` to expose additional formatted output off the Talk model begs to instead use a more appropriate method (or, better) some sort of Presenter responsible to provide an alternative formatted response.
* In HTTP routing, would it be a good idea to start all export options under som

[2015-11-15 23:20] #256 closed

[2015-11-15 23:25] michaelcullum commented on #257
Sure, I did warn you it is pretty nasty and all three of those things are things that need doing (and quite a bit else). Most of it was done just because that was the quickest way of doing it (POC), not because it was the right way. I don't really have much more time I can put into this unfortunately but I've thrown up a PR in case anyone wants to finish it off.

[2015-11-15 23:33] mdwheele commented on #257
No problem! Thanks for the effort and PR.

[2015-11-16 01:34] michaelcullum opened #262 "Twig Fatal Error due to missing variable"
A fatal error now occurs on /admin/review

[code]

[2015-11-16 02:05] jakefolio commented on #262
I believe this PR should fix it: https://github.com/opencfp/opencfp/pull/263

[2015-11-16 02:16] michaelcullum commented on #262
@jakefolio Just pulled your fix and I'm still getting the exception.

[2015-11-16 02:31] jakefolio commented on #262
@michaelcullum really? I just branched off master, made the changes, and spun up local php test server. The URL you specified is working fine for me.'

Have you ran all the migrations?

[2015-11-19 15:10] #257 closed

[2015-11-19 16:05] #255 closed

[2015-11-20 01:03] chartjes commented on #234
Looks like it's resolved

[2015-11-20 01:03] #234 closed

[2015-11-20 01:12] #179 closed

[2015-11-20 01:13] #202 closed

[2015-11-20 01:54] chartjes commented on #207
I took an easy path and modified the template to hide those details if you set the 'online_conference' value in the config file to true. Thanks for the suggestion @chrispecoraro

[2015-11-20 02:03] chartjes commented on #239
Closing due to lack of good freely-available airline and hotel stay API's

[2015-11-20 02:03] #239 closed

[2015-11-20 02:38] chartjes commented on #237
Closing this because of @jakefolio's huge admin PR fixed a bunch of these issues, we can revisit individual ones after

[2015-11-20 02:38] #237 closed

[2015-11-20 02:45] #87 closed

[2015-11-20 02:45] #107 closed

[2015-11-20 02:50] #238 closed

[2015-11-20 14:15] chartjes commented on #163
Okay, I'm taking this over and making all the necessary changes to support it.

[2015-11-20 14:45] mdwheele commented on #163
Cartalyst released Sentinel as FOSS as well since we started this. It's basically Sentry, but supported. May be worth consideration if you hit friction implementing silex security.

[2015-11-20 14:47] mdwheele commented on #163
Forgot link https://github.com/cartalyst/sentinel

[2015-11-23 16:37] pmeth opened #266 "Remove truenorthphp branches"
To keep the main opencfp/opencfp repository clean & canonical, should we remove the truenorthphp branches? We have a copy of them on chartjes/opencfp, which is what we use to deploy anyhow.

[2015-11-23 16:40] mdwheele commented on #266
It'd probably be good to clean out **most** of the remote branches and only leave ones that are long-running features that multiple folks are working on. Chris is just having the hardest time breaking old habits! :smile: /jk

Other branches are 1 year+ old.

[2015-11-23 19:17] pmeth opened #267 "I started a wiki. Any objections"
Does anyone have any objections to me starting a wiki on this project?  I wanted to add a section for projects that are using OpenCFP to add a link and didn't have a good place to do that.  It seems like the only place to do that is in the README but it really looks like the README is getting too huge.

ps. I don't have a lot of experience with Github wikis. Do people have to send pull requests, e

[2015-11-23 19:47] michaelcullum commented on #267
In settings there is an option so either collaborators or everyone can edit. There are no pull requests but there is version control of sorts (more like revisions).

[2015-11-23 19:52] pmeth commented on #267
ok. i would support letting everyone edit the wiki. unfortunately i don't think I have access to the settings for this project.

[2015-11-23 20:28] mdwheele commented on #267
Yeah you can clone the wiki for a project from:
git@github.com:opencfp/opencfp.wiki.git.
No pull requests so unless you do anything else (which I'll describe
below), it comes down to shipping patches or "manual" pull requests via
email request, IRC or something.

For the projects at work where we want to open our wiki up to collaborators
within our Enterprise deployment of GitHub, we create an orp

[2015-11-23 20:29] mdwheele commented on #267
`gh-docs` might be an appropriate branch name in this case as we'd be declaring the wiki as the official source of truth for all documentation (I would imagine) and start moving things there.

[2015-11-25 02:20] mdwheele commented on #267
Hey @pmeth @chartjes, if you're interested, I've found an interesting way to be able to accept PR to a wiki using GitHub and Travis CI. You can see an example PR at the example repository https://github.com/mdwheele/wikidocs-example/pull/3. I can elaborate on this more if it's something we think we'd be able to take advantage of. Otherwise, was just an idea I ported from our work environment / Git

[2015-11-27 18:01] chartjes commented on #267
I have no objections

On Tue, Nov 24, 2015, at 09:20 PM, Dustin Wheeler wrote:

Links:

  1. https://github.com/pmeth
  2. https://github.com/chartjes
  3. https://github.com/mdwheele/wikidocs-example/pull/3
  4. https://github.com/opencfp/opencfp/issues/267#issuecomment-159466792

[2015-12-05 21:57] mdwheele opened #271 "Make a sweep through all tests and clean formatting / visibility of properties as necessary."
Looking for stuff like this https://github.com/opencfp/opencfp/pull/270/files#r46741586 that isn't breaking the build by any means but is otherwise mostly style-related.

[2015-12-05 22:13] mdwheele commented on #266
What do you all want to do with this?

[2015-12-13 16:48] chartjes commented on #266
Feel free to clean them out

[2015-12-13 22:32] chartjes commented on #262
Just tried with a fresh install, does not generate any errors. Closing as resolved

[2015-12-13 22:32] #262 closed

[2015-12-14 00:21] eryno opened #272 "`bin/opencfp list` has inaccurate description for `admin:promote`"
## Steps to Reproduce
1. Run `bin/opencfp list` on the CLI
2. See the text reads:

    `admin:promote  Promote an existing (or new) user to be an admin`

3. Run `bin/opencfp admin:promote totally_new@person.com` (totally_new@person.com must not already exist in the database)

## Expected results
A user would be created with the email address totally_new@person.com and promoted to admin.

## Actual

[2015-12-14 00:26] mdwheele commented on #272
Yeah the wording on that description is bad. It should not give the hint that it will create a user unless we want to do that. In that case, the admin would need to set a password for the user.

We could do that and then in the future, add a "must reset password on first login" feature. What do you think?

[2015-12-14 00:47] #272 closed

[2015-12-14 00:49] eryno commented on #272
I think that would be a fantastic enhancement, and is, in fact, what I was hoping it would do. But the quick solution was obviously to bring the hint text in line with reality. I'll add a ticket for the improved version.

[2015-12-14 00:54] mdwheele commented on #272
I appreciate it. Thanks!

[2015-12-14 02:38] eryno opened #274 "[Enhancement] Create admin user through bin/opencfp"
## Current Behavior
If one wants to use `bin/opencfp admin:promote` to give a user admin access, the account must already exist. This means a user must go to the CFP website and create an account before they can be made an admin in the system.

## Suggested Enhancement
CLI users should be able to promote an email address to admin even if it isn't known to the system yet.

There are two ways to add

[2015-12-14 17:54] eryno opened #276 "Navigating to talk that doesn't exist throws a 500"
## Steps to reproduce
1. Log in as an admin
2. Navigate to /admin/talks/<invalid_id> where ID is for a talk that doesn't exist; e.g. 10000000

## Expected behavior
The system will gracefully alert me that the talk doesn't exist.

## Actual behavior
The site returns a 500 error and an unstyled page.

[2015-12-14 17:55] eryno opened #277 "Navigating to speaker that doesn't exist throws a 500"
## Steps to reproduce
1. Log in as an admin
2. Navigate to /admin/speakers/<invalid_id> where ID is for a speaker that doesn't exist; e.g. 10000000

## Expected behavior
The system will gracefully alert me that the speaker doesn't exist.

## Actual behavior
The site returns a 500 error and an unstyled page.

[2015-12-14 17:59] eryno opened #278 "[Enhancement] Search for talks or speakers"
In a CFP of any size (100+) it's difficult to find a specific talk or speaker without paging through a lot of results.

A simple search field on the talks and/or speakers pages would be fantastic.

I don't think this has to be complicated; most (if not all) conferences will never have so many talks that a simple MySQL SELECT... LIKE '%...%' will be too slow.

[2015-12-14 18:01] eryno opened #279 "Comments should display poster name, not just avatar"
If a reviewer leaves a comment on a talk, you see their avatar but not their name.

This is especially a problem when a site has multiple reviewers and not everyone has added an avatar.

Comments should display First and Last Names.

[2015-12-14 18:04] eryno opened #280 "[Enhancement] Display airport name next to code"
## Current behavior
A speaker's airport code is displayed as a link to a google search for flights to and from that airport. (Which is definitely pretty cool.)

## Suggested enhancement
Display the full airport name + city, state, and country next to the airport code in order to save reviewers a click.

[2015-12-14 18:07] mdwheele commented on #266
I have cleared out all merged branches and truenorth branches. I left `ch-speaker-refactor` just to double-check that those 6 commits ahead aren't wanted before removing. I'll plan on cleaning that up a few days from now if there's no objection.

[2015-12-14 18:07] #266 closed

[2015-12-14 18:08] mdwheele commented on #207
Closing as it looks resolved. Thanks folks!

[2015-12-14 18:08] #207 closed

[2015-12-14 18:23] jsundquist commented on #280
There is an api for google flights which could possibly accomplish similar to what #239 was asking for.

[2015-12-14 18:33] pmeth commented on #280
Here is an API I found https://developers.google.com/qpx-express/

However, I think to just display the airport name it would be better to just have a static list of airport codes.  Really, how often do they change? I believe I already have such a table someplace. I can add it as a migration to partially address this feature request.

[2015-12-14 18:36] eryno commented on #280
I agree, @pmeth. Airport information can safely be in a table somewhere, along with location information (it's not always clear what city/country an airport is in just by the name).

[2015-12-14 19:52] pmeth commented on #280
anyone who wants to implement this feature can continue on with the 280_airport-lookup branch. it basically just has a migration to add a table with a list of airports

[2015-12-14 20:04] mdwheele commented on #280
I'd like to pick up initial work in doing a first pull, syncing it with new data, and exposing it to the rest of the codebase as a shared resource. Building the feature on top of that could be a continuance of that work.

[2015-12-14 20:06] pmeth commented on #280
good by me. it would be useful in other places too i'm sure.

[2015-12-14 20:08] mdwheele commented on #280
Where'd you pull this data from?

[2015-12-14 20:10] pmeth commented on #280
don't rightly remember, but probably here: http://www.nationsonline.org/oneworld/IATA_Codes/airport_code_list.htm

[2015-12-15 19:13] eryno opened #282 "[Enhancement] Sort talks by speaker"
## Current Behavior

On /admin/talks, talks can be sorted by Title, Type, Category, and Created On.
## Suggested Enhancement

Talks should also be sortable by Submitted By (by speaker's first name).

[2015-12-17 00:16] eryno opened #283 "[Enhancement] "Next Unrated Proposal" button on talks"
## Current Behavior

If you are reviewing talks (thumbs up, thumbs down) you have to start on a listing of talks (Talks or Review Talks), click into a talk, give it a thumb rating, then click back to get a link to the next talk.
## Suggested Enhancement

Add a "Next Unrated Talk" button to the talk pages, to make the unavoidably tedious process of reviewing a little less tedious.

[2015-12-17 00:18] eryno opened #284 "What's the difference between Talks and Review Talks?"
I can see there are some differences in functionality, but I'm curious what the overall rationale for these pages is.

There's a lot of redundancy, and without help text, it's hard to tell when a user should load each, and where new features should go.

[2015-12-17 00:18] eryno commented on #284
Also, I don't think I'm allowed to add one of those pink "question" labels, but if I were, I'd do that.

[2015-12-19 14:28] jakefolio opened #285 "All talk rating (up/down vote) was removed"
I recently rebased and found that all of the talk rating UI had been removed from Admin Talks page. As of the following hash: afdae85e1ee2fbbe66b93319498dc9a1fb8d316a, this UI was still there.

https://github.com/opencfp/opencfp/commit/afdae85e1ee2fbbe66b93319498dc9a1fb8d316a#diff-2dda05548a15dd6baf3c71e98c897bb2R25

*UPDATE*
This appears to be the point where a lot of work was reverted: https://g

[2015-12-19 21:50] localheinz opened #288 "Speed up Travis build"
There are a bunch of possibilities which could further speed up the builds on Travis:

- [x] only collect and report coverage on a merge to `master` (everything else doesn't make sense)
- [x] only collect and report coverage on one PHP version
- [x] only report coverage when the build was a success
- [x] disable xdebug when it's not needed (we only need it when collecting coverage)
- [x] only run

[2015-12-20 17:22] mdwheele commented on #288
@localheinz

I changed your list to a checklist so that we could track progress a little bit easier. Thanks for all the PRs.

[2015-12-20 17:25] mdwheele commented on #285
Resolved in #286

[2015-12-20 17:25] #285 closed

[2015-12-21 04:00] mdwheele commented on #288
Everything looks good. The only thing that may get reconsidered down the line is when coverage is generated (which is why I think computing an environment variable that captures "when we generate coverage" is useful).

I would like it if Codeclimate could report coverage +/- back on PRs to `master` and this is something we've talked to them about before at conferences here and there. Something sim

[2015-12-21 04:15] mdwheele opened #301 "Test coverage dropped 38% in past few days."
We made some adjustments in response to a warning from PHPUnit on TravisCI regarding absence of  a coverage `whitelist`. Our project has been using a `blacklist` to ignore coverage on `vendor` and `classes/Provider` as they are third-party and wiring responsibilities, respectively. I will be taking a look at this tomorrow, but I feel like the previously recorded coverage was false based on what I'

[2015-12-21 11:19] michaelcullum opened #303 "Don't use auto-incrementing talk submission ids in urls"
Otherwise it discloses to talk submitters how many talks have already been submitted.

https://github.com/ramsey/uuid perhaps?

[2015-12-21 15:57] jakefolio commented on #284
I'm not really sure the difference. It shows an aggregate of all the admin ratings and orders by best rated.

[2015-12-22 16:08] jakefolio commented on #303
Is your suggestion to have a secondary ID outside of the PK or to replace PK with a BINARY(16) UUID?

[2015-12-22 22:19] mdwheele commented on #303
I'm interested in an answer to that question as well as it is a very important distinction to draw. The idea of a surrogate key that isn't the PK for relations is more palatable to me because it will be less risky for existing installs to migrate into. It also could then a matter of per-application configuration (think `app.use_opaque_identifiers` or something).

That said, if we decide to "tack-o

[2015-12-22 22:30] mdwheele commented on #303
Then there's always the question of "What purpose / problem are we solving by hiding the number of talks submitted?". There are legitimate reasons to hide internal object identifiers. Generally it's a bad idea TM. In this case, the way it's worded... the request seems more oriented around not accidentally discouraging a Speaker from submitting a Talk because "Why would I send my talk to X conferen

[2015-12-23 22:44] michaelcullum commented on #303
I wasn't suggesting changing the PK, but adding a second key and that key would be used for all interactions on the frontend (API or web-based), so you'd never use or see the auto-incremental ID in urls, or returned as the id for a talk. Also, I'd add that I don't believe Symposium or Pronto (The browser extension) use the opencfp API at all as of yet but I might be mistaken.

@mdwheele When consi

[2015-12-24 13:59] localheinz commented on #288
@mdwheele

We've asked Code Climate for this feature, too - would be really nice to have it!

Closing the issue as we're done here.

[2015-12-24 13:59] #288 closed

[2015-12-28 23:00] mdwheele commented on #276
@eryno: Jake sent a PR that resolves this issue like so:

![image](https://cloud.githubusercontent.com/assets/2453394/12026888/cff34698-ad8c-11e5-9549-36b8e9f986fc.png)

Gonna close this out. If you have any suggested changes, feel free to re-open and we can adjust. Thanks!

[2015-12-28 23:00] #276 closed

[2015-12-28 23:01] mdwheele commented on #277
@eryno: Jake has submitted a PR that resolves this issue like so:

![image](https://cloud.githubusercontent.com/assets/2453394/12026902/f9bdfc34-ad8c-11e5-9c78-3121b62bda44.png)

If you have any suggested changes, please send them our way and we'll adjust.

Thanks again!

[2015-12-28 23:01] #277 closed

[2015-12-28 23:10] mdwheele commented on #301
Turns out that the reason test coverage dropped is indeed related to using a `whitelist` versus `blacklist`. Additionally, the reported coverage is much lower because it is including classes that are completely uncovered. As such, I would say the lower figure is accurate.

For reference, by disabling the addition of uncovered files to whitelist via:

[code]

The reported coverage hops back up to 6

[2015-12-28 23:10] #301 closed

[2015-12-29 17:27] eryno commented on #277
No suggestions; that looks great. I started trying to update it myself, but I'm not very familiar with Silex and I got distracted before I figured it out. Looking forward to reviewing Jake's PR and learning the Right Way to do it.

[2015-12-29 22:00] localheinz opened #307 "Tests need to be sorted out"
A :eyes: into

* https://github.com/opencfp/opencfp/tree/master/tests/OpenCFP and
* https://github.com/opencfp/opencfp/tree/master/tests/unit

reveals

* test classes are using inconsistent namespaces
* some test classes do not even reside within a namespace
* some files declare multiple classes

I propose to

* consistently use `OpenCFP\Test` as a namespace prefix
* pull out classes into separate

[2015-12-29 22:02] localheinz opened #308 "Tests in tests/unit need to be sorted out"
Using a :mag_right: in https://github.com/opencfp/opencfp/tree/master/tests/unit reveals

* test classes are not using namespaces
* test classes should probably live in `tests/OpenCFP`
* test classes declare multiple classes

I propose to

* pull out classes into separate files, following PSR-1
* move classes into `tests/OpenCFP`

Related to #307.

[2015-12-29 22:17] mdwheele commented on #308
Thanks for creating this @localheinz. What do you think about closing this one and taking this feedback to #307? Most of the thoughts I have apply to both :smile:

[2015-12-29 22:22] mdwheele commented on #307
Agree on namespacing tests though I'd like to hold off long enough to get a PR I'm working on in that improves coverage a bit; truthfully, for my own sanity in resolving conflicts.

What do you think about mirroring the namespace of production code with expectation that there will be 1:1 match with production class to testcase? Reason I ask is it saves a number of imports in testcases. Really a ma

[2015-12-29 23:04] localheinz commented on #308
@mdwheele

:+1:

[2015-12-29 23:04] #308 closed

[2016-01-05 05:41] mdwheele commented on #303
I think you're right. The option exists only because of an apparent side-comment for a [PR I sent a while back](https://github.com/opencfp/opencfp/pull/184). That PR was about visually indicating that the CFP had ended and @chartjes dropped a suggestion to add the configuration option to disable showing how many talks the CFP ended with. We defaulted to disabled, though I don't remember the conver

[2016-01-12 00:23] michaelcullum opened #336 "OpenCFP starts denying talk submission before CFP closes"
Note the time on https://github.com/opencfp/opencfp/blob/d0bac4cb822caacd0cd9d9f6067f3dd91ea71d0b/classes/Http/Controller/DashboardController.php#L49 vs https://github.com/opencfp/opencfp/blob/master/classes/Http/Controller/TalkController.php#L24

[2016-01-13 02:29] mdwheele commented on #336
Should be fixed by #339. Thanks again!

[2016-01-13 02:29] #336 closed

[2016-01-14 16:01] chartjes commented on #159
Closing due to length of open issue (I want to get rid of issues that are more than a year old)

[2016-01-14 16:01] #159 closed

[2016-01-14 16:02] chartjes commented on #163
Closing because I feel a better upgrade path is to move to Sentinel

[2016-01-14 16:02] #163 closed

[2016-01-14 16:03] chartjes opened #340 "Upgrade from Cartalyst to Sentinel"
Cartalyst is no longer supported but https://github.com/cartalyst/sentinel appears to be an OSS option we should move to with should cause less friction.

[2016-01-14 16:04] chartjes commented on #171
@mdwheele Can you please put this into a CONTRIBUTING.md file or close this issue out?

[2016-01-14 16:15] mdwheele commented on #171
Can close for now. I can find time later no need for this to remain open as long as it's captured. I can reference later.

[2016-01-14 16:15] #171 closed

[2016-01-14 16:19] chartjes commented on #303
Closing -- I don't feel this is a feature that is worth the intrusive changes required to make it work

[2016-01-14 16:19] #303 closed

[2016-01-14 16:21] chartjes commented on #307
I see we've done a bunch of merges related to this issue. @localheinz and @mdwheele, can we close this issue or is there more work to be done? If so, maybe we should break this done into smaller issues and actually assign them to people.

[2016-01-14 16:25] chartjes commented on #280
Closed because code for this issue got merged in

[2016-01-14 16:29] chartjes commented on #271
@mdwheele Actually, can we close this or should I leave it assigned to you?

[2016-01-14 16:30] chartjes commented on #267
Closed, wiki exists. Let's make sure we start using it.

[2016-01-14 16:30] #267 closed

[2016-01-14 16:30] chartjes commented on #279
Closed thanks to @jakefolio's submission

[2016-01-14 16:30] #279 closed

[2016-01-14 16:41] chartjes commented on #274
@eryno I'm going to assign this to me and do the user:create approach, with a requirement to add in a password, first name, and last name.

I will examine what it might take for a one-time password into the system and the additional flow to check this and get folks to enter a password

[2016-01-14 16:48] mdwheele commented on #280
A migration that added a bunch of airport codes was merged, but nothing was written to expose any of that data to the web interface.

[2016-01-14 16:49] chartjes commented on #280
Reopening

[2016-01-14 18:42] mdwheele commented on #307
Honestly, an agreement that we start to merge tests into the `tests/OpenCFP` location rather than splitting would be good enough.

Any thoughts on the sentiments of that statement? I can draft a basic `CONTRIBUTING.md` to get us started.

[2016-01-14 18:46] mdwheele commented on #307
Hahahahahaha... I never noticed this. Check out https://github.com/opencfp/opencfp/pull/261. I could have SWORE we added a basic `CONTRIBUTING` document. This was closed with un-merged commits. Want me to send another PR? It should be good to pull over, but is 300+ commits, 1 ahead of `upstream/master`.

[2016-01-14 19:01] mdwheele commented on #271
Leave it assigned. I really want to make a pass through this to make things more consistent.

[2016-01-14 19:05] mdwheele commented on #271
I'm going to end up marking tests that interact with sqlite as I go through and clean property visibility as well so we have a clean way of beginning to corral.

[2016-01-15 23:25] mdwheele commented on #280
I'm about finished with my stab at this. Just hooking it up to the web interface now. Most of the problems I hit were to do with vendor-specific SQL that Sqlite3 did not play well with. Unrelated, some of the current migrations absolutely do not run or impartially run against Sqlite3. I'll be sending a separate PR for those.

[2016-01-15 23:53] mdwheele commented on #280
All, What do you think of the following? Any advice on whether this can be improved?

![image](https://cloud.githubusercontent.com/assets/2453394/12368405/26fcb34a-bbb9-11e5-926c-be6b29cd0f36.png)

I've gotta put this on the individual speaker pages for consistency-sake, but otherwise have a PR ready to ship after some small fix-ups.

/cc @eryno @chartjes @pmeth @jsundquist

[2016-01-16 14:00] chartjes commented on #280
Looks find to me -- better UX/UI is definitely needed for this app

[2016-01-16 16:48] pmeth commented on #280
It looks fine though doesn't provide a huge improvement. Baby steps I
suppose. I say merge it in.
On Jan 16, 2016 9:00 AM, "Chris Hartjes" <notifications@github.com> wrote:

[2016-01-16 19:00] mdwheele commented on #280
Alrighty then. I'll send a PR when I get back to a terminal. Got any ideas ahead of this as far as improvement. I saw the hotel/flight API reference for costs was closed for lack of good source of data.

[2016-01-25 15:42] mdwheele commented on #307
I believe we've merged enough work against for right now. The tests are structurally in a better place and we're ready to continue work to improve coverage. Next steps for me will be to go through common duplicated boilerplate for tests that hit `Application` to execute a controller method and find ways of making that easier to work with.

Ideally, we would find a way to isolate tests around contr

[2016-01-25 15:42] #307 closed

[2016-01-25 16:07] localheinz commented on #307
@mdwheele

Happy to help, it's been fun!

[2016-01-25 20:34] michaelcullum opened #350 "Dedicated field for speakers to enter their joind.in url"
Lots of speakers exclude it or bury it or only include links in their 'more info' sections of talks which they've done before and include a link to a specific talk which is rather annoying when you want to see it in the context of all their talks.

Having a dedicated field for this would help encourage people to provide an easy to use joind.in link to their speaker profile (e.g. https://joind.in/u

[2016-02-27 04:38] davethegr8 opened #355 "Tips/Documentation on setting up mail?"
I'm trying to setup OpenCFP for CascadiaFEST 2016, but I'm having tons of trouble getting email to work. Is there any documentation or tips for setting up a mail server? Or any example configs that could be shared to give me a starting point?

Thanks!

[2016-02-27 13:51] pmeth commented on #355
Here is my config for mailgun which is working

$tail -n7 production.yml

mail:
  host: smtp.mailgun.org
  port: 587
  username: do-not-reply@cfp.myfancyconference.com
  password: "a1b2c3d4"
  encryption: tls
  auth_mode: ~
On Feb 26, 2016 11:38 PM, "Dave Poole" <notifications@github.com> wrote:

[2016-02-27 18:34] davethegr8 commented on #355
Thanks, that's helpful. :smile:
We are running OpenCFP on a VPS where we have access to anything we want to install, so would it make sense to have some way to use php's native `mail()`? I'm not sure that's something I have the bandwidth to address right now as part of our rollout, but it could be a later thing I or someone else could look into.

[2016-02-27 18:44] pmeth commented on #355
This is using SwiftMailer which does everything mail() does plus a bunch more. I see no reason why you would want to switch to a less flexible solution.

I'm not sure I understand your comment about installing stuff.  Everything you need can be installed with `composer install`.

[2016-02-27 19:11] davethegr8 commented on #355
Oh, I meant I can `apt-get install postfix` if we need to, that was all.

I guess that I'm not getting why setting up another 2nd party service is necessary--unless there's ton's of features you get through Mailgun et al that are hard to setup/maintain on your own. I'm decent at LAMP sysadmin but my experience seems to stop just before email admin, so much of this is just my ignorance on how to pr

[2016-02-27 19:20] pmeth commented on #355
Just to clarify Mailgun has nothing to do with OpenCFP, it's just who I happen to be using for my email service. It's a good option for this use case, but if you have another email service you use, such as Gmail or your ISP, you can just configure their SMTP settings in the appropriate config file (`production.yml` for example).

The built in mail() function in php normally uses sendmail which wil

[2016-02-27 19:45] davethegr8 commented on #355
I may give that a shot in the future. Thanks for all your help!

[2016-02-27 19:45] #355 closed

[2016-03-01 00:04] davethegr8 opened #370 "DB column talks.updated_at doesn't update"
While standing up OpenCFP for CascadiaFEST, I noticed that the `talks.updated_at` column doesn't change as talks are edited. The value remains what it was when the talk entity was created.

[2016-03-08 07:56] geevcookie opened #371 "Nginx - Too Many Redirects"
# Steps required to reproduce the problem

1. Use following nginx config:

[code]

2. Enable *secure_ssl* in the production.yml file.
3. Visit the site.

# Expected Result

To see the OpenCFP dashboard.

# Actual Result

Receive a ERR_TOO_MANY_REDIRECTS error in Chrome.

However, when disabling secure_ssl setting and visiting the site on HTTPS it loads the dashboard fine.

[2016-03-08 08:14] geevcookie commented on #371
Nevermind... I was being an idiot. Stupid copy paste mistakes.

Had to change this line:

[code]

to:

[code]

Original copy came from: http://silex.sensiolabs.org/doc/web_servers.html

[2016-03-08 08:14] #371 closed

[2016-03-09 22:12] mattstratton opened #372 "Error connecting to database"
# Steps required to reproduce the problem

1. Installed opencfp according to instructions
2. Configured AWS RDS MySQL instance
3. Attempt to load website

# Expected Result

* Website loads :)

# Actual Result

* Receive error 500 with the following in the Apache error log:

```[Wed Mar 09 22:09:52.775618 2016] [:error] [pid 4851] [client 107.210.248.58:37834] PHP Fatal error:  Uncaught exception

[2016-03-09 22:26] mattstratton commented on #372
Never mind. Bad apache directive. Sigh.

[2016-03-09 22:26] #372 closed

[2016-03-14 02:18] chartjes commented on #370
If you could write a test that demonstrates the error it would help me fix it and make sure it doesn't happen again.

[2016-04-03 02:19] patkar opened #384 "[RFC] Support a single sign on system"
# Expected Result

So much conferences uses OpenCFP, so it would be cool to support single sign on between all those instances. And pulling all the profile data from. A simple OpenID login my suffice but it has not the profile data. Maybe could use SymposiumApp as login provider where the speaker profile is pulled of too.

Additionally you could pull a talk from e.g. SymposiumApp automatically too

[2016-04-08 23:33] davethegr8 opened #385 "/admin/speakers and /admin/admins are visible to anonymous users"
# Steps required to reproduce the problem

1. not be logged in
2. go to one of those urls
3. see stuff

# Expected Result

* This should not happen

# Actual Result

* It happens

[2016-04-08 23:36] pmeth commented on #385
yowza!!

[2016-04-08 23:53] mdwheele commented on #385
Sigh. I hate that trait with a passion for exactly this reason haha. Visibility on those methods was recently changed to public, which killed the magic method on AdminAccessTrait that sets up __call.

Can be fixed by demoting visibility OR by manually checking OR at routing layer. I'm away from a terminal at the moment and can't fix this but if I see nothing when I get back tonight, I'll send a pa

[2016-04-08 23:53] mdwheele commented on #385
See 3d46f38

[2016-04-09 00:21] davethegr8 commented on #385
I did a quick patch on cascadiajs that seemed to fix the issue: https://github.com/cascadiajs/opencfp/commit/4245d4f00beeb6c3facac4dc1b99ff1faf53c0aa

Probably not ideal, but it seems to work.

[2016-04-09 00:51] #385 closed

[2016-04-25 18:10] davethegr8 opened #391 "Default sort order on talk review page"
Quick question / quirk:

In [/classes/Domain/Entity/Mapper/Talk.php](https://github.com/opencfp/opencfp/blob/master/classes/Domain/Entity/Mapper/Talk.php#L156) the default sort order for the Review Talks page (aka top rated) seems to be `ORDER BY rating DESC, total_rating DESC`. Is this intended? Wouldn't that make the first vote for any given talk be the primary sort condition?

We're seeing an u

[2016-04-25 20:40] davethegr8 commented on #391
Yeah, it's `/admin/review` with `<h2 class="headline">Top Rated Talks</h2>`

[2016-04-25 20:55] pmeth commented on #391
so whoever does a fix should also make the naming of the Menu and the Heading the same.

[2016-05-22 03:49] vlucas commented on #262
Heads up: I ran into this, but it was when I was using the built-in PHP server via:
[code]

The pages all work, but none of the static assets load - for some reason you get the "Variable "current_page" does not exist" errors instead. You probably just need to be clear in the docs that the PHP dev server is not supported (or fix the asset loading! :)).

[2016-05-22 16:27] chartjes commented on #262
It does state in the README that Apache 2+ with mod_rewrite enabled is a requirement. Anything else isn't supported.

Sent from my GrumpyPhone

[2016-05-22 18:02] vlucas commented on #262
Yeah - I saw the Apache/Nginx - I just didn't want to have to set those up on my local machine to make a few styling changes, so I tried the built-in PHP webserver first. Not a big issue, but that's what I imagine this guy did as well.

[2016-05-22 18:52] jakefolio commented on #262
@vlucas I think I've always used Homestead for developing with OpenCFP. If we setup a basic router script for the built-in PHP server, that should resolve the issues, no?

[2016-05-22 20:35] chartjes commented on #262
Yes, that would be great.

Sent from my GrumpyPhone

[2016-05-24 15:15] Incognito opened #394 "Installation video"
This isn't a bug, but something I think would be useful for the README file

I recorded a video to help a friend install the project, it's perhaps not ideal for everyone but if this is a good thing to have in this project and something I can get some feedback on (eg, too long, skip specific parts, cover other parts etc) I can re-record this without wandering through mysql install screens.

[![asci

[2016-05-31 12:20] rocketpastsix commented on #350
I think this would be fun to implement, Id love to have a go at it.

[2016-06-03 22:59] ramsey opened #395 "Exception occurs when running migrations on MySQL 5.7.12"
# Steps required to reproduce the problem
1. Set up a new database user and an empty database
2. Configure database settings in phinx.yml and config/production.yml
3. Run `vendor/bin/phinx migrate --environment=production`
# Expected Result
- Migrations succeed with no errors.
# Actual Result
- PDOException thrown when migrating `20150702132854_fix_defaults_for_users_table.php`:

[code]

It seems

[2016-06-03 23:56] mdwheele commented on #395
Thanks @ramsey. Related to this issue is https://github.com/opencfp/opencfp/blob/master/migrations/20160106061843_fix_zero_dates.php which was put in place to fix this exact issue for servers that had the users table (and more) and did an I place upgrade of MySQL.

We can likely apply a similar fix up to the offending migration or (might actually be a better solution) set the SQL mode less permiss

[2016-06-04 15:20] chartjes commented on #395
I'm in favour of any solution that does not require users to alter their mysqld settings...

[2016-06-04 15:51] #370 closed

[2016-06-04 15:59] chartjes commented on #350
@rocketpastsix Feel free to do this up and submit a PR:

* Code changes
* DB migration to add the joind.in URL
* Tests to ensure everything works as expected

[2016-06-04 16:06] chartjes commented on #394
@Incognito

The installation instructions have recently changes with a contribution from @jakefolio. Yesterday I did an install and rearranged things slightly in the README.md file to reflect those changes.

If you want to make a video of you going through an install following the directions I would be happy to embed the video in the README file.

[2016-06-06 23:15] modernserf opened #396 "Better default talk categories"
The default talk categories are kind of peculiar: are there really a lot of talks on the IBMi platform? Given that a lot of confs using OpenCFP leave the default talk categories, these could be updated to be more universally applicable.

[2016-06-28 23:35] ramsey opened #398 "Admin Dashboard fails to load after deleting a user with talks"
# Steps required to reproduce the problem

1. Register a new speaker.
2. Under the speaker's account, create a new talk.
3. As an admin, log in and go to the Admin > Speakers page.
4. Click "Delete" next to the new speaker you created in Step 1.
5. Go back to the "Admin Dashboard."

# Expected Result

I expect to see the Admin Dashboard page render, listing recent talks.

# Actual Result

Instead

[2016-06-29 00:03] mdwheele commented on #398
Awww shucks. Sorry about that @ramsey. I'm gonna take a look at it right now. Thanks for the thorough report.

[2016-06-29 01:36] mdwheele commented on #398
@ramsey if you have time check out the referenced PR. I believe it resolves your issue. If not, that's cool too. At least it's fixed. Thanks again for report.

[2016-06-29 16:58] ramsey commented on #398
Tested locally. #399 fixes this issue. Thanks!

[2016-06-29 16:58] #398 closed

[2016-07-14 14:50] llbbl opened #400 "Allow users to submit "Joint" talks"
### Current Behavior

Not supported
### Suggested Enhancement

Allow people to add other users if they know their username to their submitted talk. Update admin page to display multiple speakers.

[2016-07-14 14:57] mdwheele commented on #400
Awesome! I have some questions and some random notes for future.

- Will the join users have to exist previously? If not, do we send them an invite and "attach" them after their registration is successful?
- Requiring the speaker to know either an email address or username is probably acceptable. *Autocompleting is probably not a good idea because it'd allow someone to scan for speakers that have

[2016-07-14 15:50] llbbl commented on #400
_- Will the join users have to exist previously? If not, do we send them an invite and "attach" them after their registration is successful?_

Yea I think so. We can assume they know each other outside of the site and can communicate what each of their usernames are via some other channel.

_- Requiring the speaker to know either an email address or username is probably acceptable. Autocompleting

[2016-07-14 15:58] mdwheele commented on #400
Yeah, we would plan on doing more than a single joint speaker I think. Zero, one or many! 😄

I don't know if it's so much a requirement that all the joint speakers sign on before the talk can be considered. I do think having suggested join speakers confirm is important, otherwise there is room for abuse. I feel like if the talk owner submits a talk and says "here are some other joint speakers", it

[2016-07-17 15:27] castillobg opened #401 "Requirements could not be resolved"
# Steps required to reproduce the problem

1. Follow the [installation steps](https://github.com/opencfp/opencfp#installation). In my case, I ran the following commands on an Ubuntu 14.04 t2.micro instance:
[code]

# Expected Result

* Project is set up.

# Actual Result

* Script fails with this output:
[code]

[2016-07-17 17:22] mdwheele commented on #401
For OpenCFP to function, you will need the `gd` and `curl` PHP extensions installed because we use both `intervention/image` and other packages that require them. Let me know if you need any help installing extensions and I may be able to advise.

[2016-07-18 11:51] #401 closed

[2016-07-18 11:56] #280 closed

[2016-07-18 13:20] castillobg commented on #401
Hi @mdwheele! Thanks for the quick response. I am a PHP noob, so any help would be very much appreciated.

[2016-07-19 20:13] mdwheele commented on #401
@castillobg, I pulled down an Ubuntu box `ubuntu/trusty64` which should be roughly equivalent to what you were working with on AWS (I assume).

[code]

Here's my session from that base box to get OpenCFP dependencies installed. I'm assuming you have a database server somewhere you can continue towards migrating if only dependencies were able to be installed. If not, lemme know and I can try to hel

[2016-07-19 21:26] castillobg commented on #401
@mdwheele thanks so much fortaking the time to do this!

[2016-07-28 00:45] mdwheele commented on #401
Whoops! Missed this reply. It's all good, bud. No worries! 😄

[2016-08-27 15:56] elioqoshi opened #405 "New Logo?"
Hey guys,

Great stuff you are doing! I'm from Ura Design and love Open Source Design :)
I'd love to help you out with a new logo in case you are looking to update it.
What do you think?

Some of my work can be found on Dribbble:
https://dribbble.com/elioqoshi

[2016-09-15 19:42] bretterer opened #406 "Submitting Talk without selecting best talk returns 500"
# Steps required to reproduce the problem

1. As an administrator of the site,
2. Fill out talk submission without checking "best talk"
3. Submit Talk

# Expected Result

* Talk is submitted

# Actual Result

* Internal Server Error

[code]

[2016-09-15 19:43] bretterer opened #407 "Talk Review causes 500 error"
# Steps required to reproduce the problem

1. As administrator of the site (with your own talks submitted)
2. go to admin panel
3. click on "Review Talks"

# Expected Result

* Review of talks is allowed

# Actual Result

* Internal Server Error

[code]

[2016-09-15 20:24] bretterer commented on #406
Debugging, When you do not select the checkbox for best talk or sponsored, those fields are not submitted to the create/update handlers.  I have it solved by adding in ?: 0 to the data object, however having some issues testing it.

[2016-09-15 22:27] bretterer commented on #274
Added this ability.  The one-time password is a secondary feature to be added

[2016-09-16 00:02] #274 closed

[2016-09-16 00:02] #407 closed

[2016-09-16 00:03] #406 closed

[2016-10-04 10:45] carnage commented on #282
This seems to be implemented in latest master.

[2016-10-14 10:41] carnage opened #415 "[RFC] Overhaul review mechanism"
I've been looking at the review mechanism in opencfp and talking to several organisers about how they do their selection - most have opted for an external tool for reviews.

I'd like to gather opinions on how (if) this should be done before ploughing headlong into it.

Some initial ideas:

[ ] A score based rating system of talks instead (as well as?) of a +/- rating system.
[ ] A review panel rol

[2016-10-17 16:24] #254 closed

[2016-10-17 16:24] #391 closed

[2016-10-20 10:58] carnage commented on #396
Hi, given the above pull request allows much easier modification of categories; would you consider this issue resolved?

[2016-10-20 14:34] #396 closed

[2016-11-08 02:16] cgrandval opened #424 "CFP is shown as closed on homepage before end date with a different timezone"
# Steps required to reproduce the problem

1. Define a timezone like America/Recife (- 4 hours) for Brazilian event (not UTC)
2. Define today as the "enddate" in the config file
3. Modify your local time after 20h (with America/Recife timezone used)
4. Go to homepage

# Expected Result

* On the homepage, the "Register now" button must be available and the message must be "Call For Papers Now Open

[2016-11-14 16:58] cgrandval opened #426 "Arrival and departure dates are displayed with one day before on homepage"
# Steps required to reproduce the problem

1. Define an arrival and departure dates in the configuration (development.yml or production.yml), for instance 17/12/2016 and 20/12/2016
2. Go to the homepage

# Expected Result

* The message displayed must be "OpenCFP is on 17/12/2016 to 20/12/2016 in Miami, FL"

# Actual Result

* The message is "OpenCFP is on 16/12/2016 to 19/12/2016 in Miami, FL"

[2016-11-18 15:45] #424 closed

[2016-11-18 15:45] #426 closed

[2016-11-18 15:47] #271 closed

[2016-12-16 16:56] eryno commented on #282
Agree, looks like this got added at some point.

[2016-12-16 16:56] #282 closed

[2016-12-16 17:02] eryno opened #430 "Cannot un-select a talk"
# Steps required to reproduce the problem

1. View a talk page (/admin/talk/[id])
2. Click the "Select this talk" checkbox on the right to select it
3. Click the checkbox again to deselect it

# Expected Result

* The box would toggle and the talk would no longer be selected.

# Actual Result

* The box does not care what I do to it, and the talk remains selected until I beg someone with server ac

[2016-12-16 17:08] eryno opened #431 "[Enhancement] Allow filtering by talks I have not rated"
## Current Behavior

On the talks page (/admin/talks), one can filter by "Rated" and "Unrated" talks, but it appears to check whether anyone has ever rated a talk. There is no way to filter by talks that *I* have rated/not rated.

## Suggested Enhancement

Either:
 a. Add a filter for "Unrated By Me"
 b. Change the current "Rated"/"Unrated" filters to only look for ratings by the currently logged

[2016-12-19 00:01] carnage commented on #431
I consider this a bug - it's the query that's wrong imo see: https://github.com/opencfp/opencfp/pull/429

[2016-12-19 14:14] #236 closed

[2016-12-19 14:14] #278 closed

[2016-12-19 14:14] #283 closed

[2016-12-19 14:14] #284 closed

[2017-01-17 16:28] akrabat opened #443 "Unable to insert new OpenCFP\Domain\Entity\TalkTag - Errors: array ( )"
# Steps required to reproduce the problem

1. Try to submit a new talk to https://opencfp.phpkonf.org
2.
3.

# Expected Result

* See a thank you page / returned to list (can't remember what the success case is)

# Actual Result

* See a white page with the text `Unable to insert new OpenCFP\Domain\Entity\TalkTag - Errors: array ( )` at the top.
* Note that the talk appears to have submitted corre

[2017-01-23 20:44] #340 closed

[2017-01-23 20:47] chartjes commented on #405
Hi @elioqoshi, my apologies for such a long delay in responding. I'd love to see your ideas for a new logo.

[2017-01-23 20:55] chartjes commented on #384
HI @patkar, sorry for the huge delay in getting back to you. I have to replace the auth/permissions library I'm using first before something like this can be implemented.

I had hoped that SymposiumApp could be some kind of central authority but it looks like development has slowed on the project so I am not sure where that leaves OpenCFP

[2017-01-23 20:56] chartjes commented on #350
@matthewtrask You still thinking of working on this?

[2017-01-23 22:42] elioqoshi commented on #405
No worries! I will try to come up with something

[2017-01-25 08:47] heiglandreas opened #444 "In the usual implementations an ampersand is output as "&amp;" and not as "&""
## Steps required to reproduce the problem

1. Create a speaker-profile
2. Enter "wdv Gesellschaft für Medien & Kommunikation mbH & Co. OHG" in the company-field
3. Save

## Expected Result

* In the profile I see "Company: wdv Gesellschaft für Medien & Kommunikation mbH & Co. OHG"

## Actual Result

* The Profile shows "Company: wdv Gesellschaft für Medien &amp; Kommunikation mbH &amp; Co. OHG"

[2017-01-26 11:51] patkar commented on #384
@chartjes Maybe a central (modified) OpenCFP instance where you put profiles and all CfPs and it acts as a SSO provider/IdP and the OpenCFP instance of the conference can pull the bio and talks on click? IMHO like SymposiumApp but realised with OpenCFP.

[2017-01-27 08:54] nb opened #446 "Fatal error: Call to undefined method OpenCFP\Console\Application::getContainer()"
# Steps required to reproduce the problem

1. Run a CLI command, like `bin/opencfp cache:clear`

# Expected Result

* “[OK] Cleared caches.”

# Actual Result

* `Fatal error: Call to undefined method OpenCFP\Console\Application::getContainer()`.

It looks like this was broken by #438.

[2017-01-28 17:47] heiglandreas commented on #444
The reason is, that the data is on input not only validated but also encoded. That will store an ```&``` as ```&amp;``` in the database. On output the data is encoded a second time which will then convert the stored ```&amp;``` into a ```&amp;amp;``` on output. The same applies to ```<``` and ```>```. Any ```<[^>]+>``` will be removed from the input and ```<``` and ```>``` will be converted to ```

[2017-01-31 14:39] emir commented on #446
Same here

[2017-02-01 00:37] pmeth-delvia opened #450 "Clean up end date code - add support for time & timezone"
# Steps required to reproduce the problem

1. Be a developer who cares about dates and times
2. Grep the codebase for how `enddate` is used (https://github.com/opencfp/opencfp/search?utf8=%E2%9C%93&q=enddate)
3. Hang head in shame

# Expected Result

* consistently use the enddate config value and ideally manage it in a central place
* support a timezone in enddate
* support a time as well if some

[2017-02-02 18:55] anshul35 commented on #443
Getting the same error! Any ideas on how to fix it?

[2017-02-07 01:21] andrewwoods commented on #443
I'm getting this too! haven't looked into the cause yet though.

[2017-02-10 14:00] #444 closed

[2017-02-10 14:09] heiglandreas commented on #450
Shouldn't removing the ```11:59``` in the code and moving it over to the config file be sufficient? From what I read so far the string given in the config is passed to DateTime and that should then also be able to handle a string containing a time. It should also be possible to add an offset in there… - That'd be for a quick-fix…

[2017-02-10 14:27] heiglandreas commented on #450
The timezone can be [set in the configuration](https://github.com/opencfp/opencfp/blob/master/config/production.dist.yml#L15) and will then be used as [default timezone](https://github.com/opencfp/opencfp/blob/master/classes/Application.php#L55)

That timezone will be used for the complete CfP.

[2017-02-10 14:39] pmeth-delvia commented on #450
@heiglandreas agree on removing the 11:59 from code so that you can put any valid DateTime string in the config.  The only thing is the way humans think, when they omit the time (for example 2017-02-28) they are implying the end of the day (eg 2017-02-28 23:59:59), yet when php encounters an omitted time, it interprets as the beginning of the day (eg 2017-02-28 00:00:00), so we would need some add

[2017-02-10 16:10] heiglandreas commented on #450
I'm currently in the process of "fixing that mess". Have a look over at https://github.com/heiglandreas/opencfp/tree/hotfix/DateTime

As soon as it's ready I'll open the PR

[2017-02-12 16:30] #450 closed

[2017-02-12 19:20] heiglandreas commented on #384
I'd split that into two parts:

* One being the SSO part. Using a library like [hybridauth](https://github.com/hybridauth/hybridauth) or [socialConnect](https://github.com/socialConnect/auth) that should be doable so we can use a third-party provider for login.
* The second part would  be the possibility to pull in informations from a third-party like Symposiumapp or an OpenCfP-SaaS.

Having Sympo

[2017-02-13 03:58] chartjes commented on #446
Fixed in the latest master

[2017-02-13 03:58] #446 closed

[2017-02-13 04:54] localheinz commented on #446
Ha, sorry about that one!

[2017-02-13 14:53] chartjes commented on #443
Closing because I have removed tags from being part of talks, will eventually add in a migration to drop the impacted tables as well.

[2017-02-13 14:53] #443 closed

[2017-02-13 15:21] chartjes opened #454 "[Refactor] Use Symfony Security Component"
The current authentication and authorization library is Sentry, which is no longer maintained. I want to move to using the Symfony Security component due to easy integration with other parts of the application.

It's a big task that touches pretty much every part of the application and will also require fixing tests that are using Sentry.

Any volunteers to help me?

[2017-02-13 15:36] enygma commented on #454
I'd help out if I knew the Symfony Security component very well. The extent of my knowledge comes from reading about it, not really putting it to practical use.

Maybe @skoop could help out a bit?

[2017-02-13 15:57] skoop commented on #454
I would recommend simply using FOSUserBundle for that. It is well-documented and offers just about any feature you'd want for authentication and authorization. I don't know Sentry, so I don't know the migration path.

[2017-02-13 16:15] chartjes commented on #454
FOSUserBundle looks pretty good, thanks for the tip.

[2017-02-13 16:23] zanderbaldwin commented on #454
I don't think FOSUserBundle would work with a Silex application, but it's a good starting place for ideas.

[2017-02-13 20:51] #430 closed

[2017-02-14 07:48] skoop commented on #454
ah, sorry, I had not dug into OpenCFP enough to realize it was a Silex app, not a Symfony app. I believe there was some documentation on how to do authentication in Silex, let me find it.

[2017-02-14 10:53] skoop commented on #454
http://silex.sensiolabs.org/doc/2.0/cookbook/guard_authentication.html is the one I had in mind. While aimed at API authentication, it could also easily be applied to web apps.

[2017-02-14 13:46] chartjes commented on #395
There are no longer any migrations that set dates to 0000-00-00 00:00:00 so I am closing this issue.

[2017-02-14 13:46] #395 closed

[2017-02-28 15:38] chartjes opened #456 "[RFC] Combine first name and last name into one field"
Been thinking that it makes sense to only have one name field. The only potential problem I see is that if we ever decide to do sorting in the lists of talks by last name, we lose that ability.

Thoughts?

[2017-02-28 15:39] chartjes commented on #454
Closing because I decided to go with Sentinel from Cartalyst -- once I did all the DB schema changes it was been almost a drop-in replacement

[2017-02-28 15:39] #454 closed

[2017-02-28 15:58] mdwheele commented on #384
It's not too much to integrate Sentinel with https://github.com/laravel/socialite.

[2017-02-28 16:15] chartjes commented on #384
So the *other* thought I have is a paid add-on for OpenCFP that handles both SSO (using a centralized service as the OAuth end point) and allows people to see records of what talks they submitted to OpenCFP instances that are using the plugin. The app would be modified to send data to the centralized service every time a talk was submitted.

That way people could create just one account with the O

[2017-02-28 17:56] heiglandreas commented on #384
There currently is also an idea of creating something similar not only for OpenCFP. You might want to have a look at https://gist.github.com/liam-wiltshire/5c7e311f4cae1d7890a03715d371dd38 - though that might interfere with your plans to make money off it. Or we might need to share ;)

[2017-02-28 18:11] mdwheele commented on #384
Looks like more people need to check out https://symposiumapp.com. Seems to pull a reasonable representation of CFPs and also allows crowdsourcing of the data. It's focus is on speakers. It does little to nothing for organizers other than advertisement.

A fundamental problem with all of these different sources is that they are all attempting to niche into a different part of the conference organi

[2017-02-28 18:39] heiglandreas commented on #384
Symposium pulls the CfPs from joind.in and that's it. No other sources of CfPs. It's main aim is to have a central repository for speakers talks and bios. Along with pronto it allows speakers to easily add talks to a CfP.

The idea described in the gist is to allow speakers also to have a central repository where they can see what they submitted to what conference - without needing a single backen

[2017-02-28 18:46] heiglandreas commented on #384
And besides papercall.io (SaaS for conf-organizers) and sympsoiumapp.com (Talk and Bio-repo for speakers) there's callingallpapers.com which aims to list all currently open CfPs from different sources. Currently joind.in and Lanyrd are covered. Papercall.io (most of them are already on Lanyrd)  and the PHP-Website are at the moment "in the making" and as it's extensible every other website can be

[2017-02-28 18:46] mdwheele commented on #384
Ah, I see. I was considering Symposium itself as a source in addition to Joind.in which is just an adapter.

Looking at https://symposiumapp.com/conferences/create

They claim to want to support more con management features in the future. Just tacking more info here.

[2017-03-01 00:38] pmeth-delvia commented on #384
Not to be a sourpuss, but is this the best place to discuss whether, or how to make money from opencfp? I certainly don't have a problem with money, but I feel the open-source repo should simply add functionality. If someone wants to use that functionality to make money, that's up to them.

[2017-03-01 01:02] mdwheele commented on #384
Agreed

[2017-03-01 01:03] chartjes commented on #384
BAH

[2017-03-06 15:54] chartjes commented on #350
I see there is a URL field in the database schema that doesn't appear in the profile screen or the signup form. Maybe we could repurpose it for that

[2017-03-20 22:18] jsundquist commented on #456
What would be gained by combining them together?  If you are looking at exporting them to a service like joind.in, then combined makes sense. If its just for the sake of combining them, no I don't think it makes sense. I see a larger benefit to keep them separate.

[2017-03-20 22:19] jsundquist commented on #431
@chartjes I think this can be closed with @mwillbanks merge request of #429 .

[2017-03-21 19:46] #431 closed

[2017-03-26 19:32] andrewwoods opened #461 "Updating a talk throws an exception - duplicate entry error"
# Steps required to reproduce the problem

1. Create a user
2. Click the "Dashboard" link
3. Click the "Submit a talk" button
4. Fill out the "Talk Title", "Description/Abstract", and "Additional Talk Information" fields
5. Click "Submit my talk!" button
6. Identify the talk you just created, and click it's corresponding "Edit" link
7. Update the "Description/Abstract" field
8. Click the "Update m

[2017-03-26 19:45] andrewwoods commented on #461
The exception occurs at line 407 of classes/Http/Controller/TalkController.php. If I add this to line 403

The error goes away, but your requested changes don't get saved.

[2017-03-26 20:42] #461 closed

[2017-03-26 20:43] #456 closed

[2017-03-29 15:25] davsket opened #463 "[SSL] Forms URLs are rendered using http instead of https"
I'm new to PHP, but haven't found a way to change urls to work with HTTPS instead of HTTP.

# Steps required to reproduce the problem
1.  Configure your server to use HTTPS
2. Configure production settings to use `url: https://yourdomain.com` and `secure_ssl: true`
3. Go to your site at: `/signup` and the form is pointing to HTTP, all website links are pointing to HTTP too.

# Expected Result

* F

[2017-03-29 17:45] chartjes commented on #463
Hi @davsket -- I haven't set it up to use SSL before but I have asked some other folks who've done it to check things out for me

Tagging @localheinz and @mdwheele

[2017-03-29 18:37] jakefolio commented on #463
It should be forcing all routes to SSL:
https://github.com/opencfp/opencfp/blob/b5d2250c83cc7d878e008bff8b8649966987c696/classes/Provider/Gateways/WebGatewayProvider.php#L45

Can you set secure_ssl locally and see if it forces SSL routes there?

I want to make sure your production environment is set and looking at the right config.

[2017-03-29 23:55] andrewwoods opened #468 "[Enhancement] Extend session time"
# Steps required to reproduce the problem

1. Login to the CFP site
2. Work on something else for a while - say, for 1 hour
3. Return and Click the dashboard link.

# Expected Result

* You will remain logged in
* I'd like to have a configurable session timeout value, _in the number of seconds_, in your configuration **.yml** file

# Actual Result

* Your session is terminated, and you need to log

[2017-04-11 08:12] robertbasic opened #471 "[CLI] Command line options for environment and email clash"
The command line options for specifying the environment and the email, when creating a new user with the opencfp cli command, clash.

# Steps required to reproduce the problem

1. `./bin/opencfp user:create -f Robert -l Basic -e robertbasic.com@gmail.com -p password -a`

# Expected Result

* A new user account was created.

# Actual Result

* `PHP Fatal error:  Uncaught InvalidArgumentException: I

[2017-04-11 08:38] robertbasic opened #472 "[Cache] Configure path for HTMLPurifier cache"
Without a configured path the HTMLPurifier wants to create a cache under `vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer` and to chmod-it to `0777`. It is even mentioned in the [Troubleshooting](https://github.com/opencfp/opencfp#troubleshooting).

The code actually supports defining a custom path for the HTMLPurifier cache: https://github.com/opencfp/opencfp/blob/44bad

[2017-04-11 13:07] #471 closed

[2017-04-12 12:44] robertbasic commented on #472
I realised that there is a method to get the cache path for HTML Purifier so there is no need to have it configurable in the configuration.

[2017-04-12 13:23] #472 closed

[2017-04-19 10:16] robertbasic opened #475 "Viewing a speaker profile as an admin is broken"
# Steps required to reproduce the problem

1. When logged in as an admin, navigate to the list of speakers
2. Click on a full name of a speaker, to see the profile of that speaker

# Expected Result

* See the profile of the speaker

# Actual Result

* Internal server error

[code]

# Additional details

I'm not sure which part of the code is broken. Is it the template that partially assumes that

[2017-04-19 13:07] #475 closed

[2017-04-25 07:21] robertbasic opened #477 "PDOException for the list of top rated talks"
# Steps required to reproduce the problem

1. Use MySQL 5.7.5 or newer, or enable the [only full group by](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by) SQL mode
2. Go to the list of top rated talks

# Expected Result

* A list of top rated talks

# Actual Result

* Internal server error.

[code]

[2017-04-25 18:39] #477 closed

[2017-05-05 12:58] robertbasic commented on #463
I have just tried to reproduce the issue reported.

I created a self-signed certificate on my localhost, restarted nginx, set `secure_ssl` to `true` in the configuration file.

Everything seems to work OK, all forms are submitted through HTTPS, all links are HTTPS.

I believe this issue can be closed as there's nothing wrong with OpenCFP.

@davsket did you figure out the problem in the end? Or do

[2017-05-19 09:41] dorees opened #479 "Password Reset Issue"
# Steps required to reproduce the problem

1. Request password reset
2. Open Password Reset Request link

# Expected Result

* Password Reset Form

# Actual Result

* Internal Server Error!

App log output when I open the reset link, don't have much experience with PHP so any help would be appreciated.

`[2017-05-19 09:37:16]
opencfp.INFO: Matched route "{route}". {"route":"reset_password","route_

[2017-05-19 18:48] chartjes commented on #479
@dorees Should be all fixed, sorry for any problems it caused you.

[2017-05-19 18:48] #479 closed

[2017-06-06 20:02] DarGrze opened #480 "problem sending emails from app"
Despite a proper config as shown in README, OpenCFP don't want to send any email form app. The config yml in "mail" section is:

  host: smtp.mailgun.com
  port: 587
  username: no-reply@mg.some.domain
  password: "here_is_a_proper_password"
  encryption: tls
  auth_mode: ~

I've tried the same with my own localhost (Postfix) to check whether my problem derives inside or outside the app. In this c

[2017-06-06 20:15] chartjes commented on #480
Well, this is awkward.

Somewhere along the line we removed the code that sends user activation emails. That's why you weren't seeing any emails. I will add it back in, test it, and let you know when it's all working correctly. My apologies.

[2017-06-06 20:38] DarGrze commented on #480
Thanks a lot for so quick reaction! It's as important as we'd like to start our cfp in a days. Feel invited, of course ;)

[2017-06-06 20:47] chartjes commented on #480
@DarGrze, by default we automatically activate the account so people can log in right away.

Would you like me to just simply modify the email to confirm they signed up for an account? I would need to write some new code to have an account activation end point and I don't think I could get that done in a day.

[2017-06-06 21:01] DarGrze commented on #480
Ok, take it easy. It works without emails, so this functionality is also ok. You just helped me a bit, cause I know the problem isn't only by my side. So, thanks for now :)

Cheers,
-- Darek.

--
Sent by Kaiten Mail.

[2017-06-06 21:50] chartjes commented on #480
Closing this issue then

[2017-06-06 21:50] #480 closed

[2017-06-18 20:07] DarGrze opened #481 "Mismatched talk title in e-mail notification returned to speaker"
# Steps required to reproduce the problem

1. After entering first proposal, notification is ok
2. Entering second proposal, speaker received notification with wrong talk title - taken from first entered proposal at all (not owned by him!)

# Expected Result

* proper talk title in notification

# Actual Result

* wrong talk title in notification - taken from first entered proposal

[2017-06-19 22:25] #481 closed

[2017-06-20 11:17] DarGrze commented on #481
Thanks guys for fixing so fast!

[2017-06-23 21:07] brettshumaker commented on #479
@chartjes What was the fix for this? I only see one commit from the 19th and adding that change to `/classes/Http/Form/ResetForm.php` didn't solve our problem.

I'm probably missing something.

[2017-08-11 13:54] brettshumaker opened #483 "Internal Server Error when viewing my own submitted talk after submissions were closed."
# Steps required to reproduce the problem

1. Submit a talk.
3. Attempt to view talk from your dashboard (https://domain.com/talk/{talk_id})

# Expected Result

* It's expected to be able to view talk.

# Actual Result

* Internal server error.

I tried to debug this a little bit and I tracked it down to the `loadTemplate()` method in `vendor/twig/twig/lib/Twig/Environment.php`. The eval'd code th

[2017-08-11 14:27] chartjes commented on #483
Hey Brett, I am moving house and don't have home internet yet. Once I am set up I will take a look, thanks for the bug submission.

[2017-08-11 18:39] brettshumaker commented on #483
No worries. I know how that is.

Just updated my original post to clarify the steps to reproduce. Also confirmed that viewing the talk in the admin functions properly (https://domain.com/admin/talks/{talk_id}).

I'm having someone else take a look as well in the mean time. Thanks again!

[2017-08-14 13:44] brettshumaker commented on #483
Disregard. Apparently we had added a custom field to the talk form and didn't have it registered in all the correct places. Removing it fixed the error. Problem exists between keyboard and chair. 😄

[2017-08-14 13:44] #483 closed

[2017-08-20 20:30] DarGrze opened #484 "Public voting for proposals"
Before we switched to OpenCFP (PHPCon Poland years) we used to organise public voting for proposals submitted during C4P process. It was amazing way to build an additional interest of agenda yet before official announcement. In general, we based on three grades of vote power: paid attendee gave a vote with 5 points, registered – with 2 and all the rest with 1. I assume that it's quite difficult wi

[2017-08-28 13:29] chartjes commented on #484
Hi Dariusz,

Right now that seems like a hard thing to do because of lack of hooks
with an external ticketing system. It is an interesting idea though.
On Sun, Aug 20, 2017, at 04:30 PM, Dariusz Grzesista wrote:

Links:

  1. https://github.com/opencfp/opencfp/issues/484
  2. https://github.com/notifications/unsubscribe-auth/AABuoaTn7kY2kL_PioKMillkvXpcFN8Uks5saJdfgaJpZM4O8uGW

[2017-08-28 17:31] DarGrze commented on #484
Hi Chris,

I considered it. We are ready to blow our grades off for a longer time.
The most important is to have such functionality at all - it doesn't need
any hook at start.

We really care about, please.

2017-08-28 15:29 GMT+02:00 Chris Hartjes <notifications@github.com>:

--

Pozdrawiam,
-- Dariusz Grzesista.

[2017-08-28 17:44] chartjes commented on #484
@DarGrze

I have a big refactor I need to finish first, and then can think about how I want to implement it. I am not opposed to the idea, I just want to think very carefully about it.

[2017-09-14 07:48] BackEndTea opened #485 "Request for feedback: Improve review mechanism"
We would like to use OpenCFP for the Dutch PHP Conference, but are considering developing features for reviewing/rating talks.

- Adding a reviewer role, who would have limited access to the dashboard
- Adding a rating system based on a 1-10 score.
- Adding an overview of the talk scores for the admin.

Some of these ideas were mentioned earlier in #415. This isn’t quite the same idea as #484, as

[2017-09-15 15:26] chartjes commented on #485
@BackEndTea I do have a long-running refactor where I am moving the app to Sentinel from Sentry for authentication purposes and had implemented the idea of having users who were reviewers but not admins.

I am not sure of the scope of work to add a rating system to replace or sit next to the existing one. I certainly don't object to seeing such a thing built on top of the existing system, but I se

[2017-09-23 16:19] tobru opened #487 "E-Mail to Speakers"
It would be great if E-Mail messages could be sent to the speakers from OpenCFP, f.e. if a proposal has been accepted or declined.

[2017-09-26 14:15] #350 closed

[2017-09-26 14:39] matthewtrask commented on #484
I can think of a decent way to do this without much work, just an extra database table and some joins.

[2017-09-28 06:28] mdwheele opened #491 "Should joind.in URL be required to create Speaker Profile?"
# Steps required to reproduce the problem

1. Visit the Signup Page
2. Fill out email, password, name; leaving joind.in empty
3. Agree to CoC
4. Submit

# Expected Result

* My profile should be created and I should be able to submit talks

# Actual Result

![image](https://user-images.githubusercontent.com/2453394/30952132-94ae8fe2-a3f4-11e7-9c76-a67316c743c5.png)

This was likely unintentional.

[2017-09-28 06:29] mdwheele commented on #491
Turns out, even after entering a joind.in URL, I get the same error message.

[2017-09-28 07:28] #491 closed

[2017-10-02 10:14] BackEndTea opened #496 "Additional speaker info isn't displayed"
# Steps required to reproduce the problem

1. Create a speaker account
2. Input something in additional notes section
3. Look at the speaker profile as an admin

# Expected Result

* When the profile is displayed I can see the additional notes
![image](https://user-images.githubusercontent.com/14289961/31073091-cc97ed62-a76a-11e7-8b0e-e959f3d245d8.png)

# Actual Result

![image](https://user-image

[2017-10-02 17:55] #496 closed

[2017-10-04 18:44] #463 closed

[2017-10-04 19:06] chartjes opened #498 "[RFC] Updating from Cartalyst/Sentry to Cartalyst/Sentinel"
Sentry has been deprecated, and using a deprecated library worries me. I did attempt to upgrade it but I got very unfocused and decided to also add test coverage while I did it.

The work did not require a lot of code changes but extensive DB schema changes were needed. These make me uncomfortable too.

The branch in question is ch-symfony-security-refactor for people who want to look at what I ha

[2017-10-04 19:21] mdwheele commented on #498
Mobile at the moment, so I can't comment in-depth. When I made an attempt at this, one of the most problematic issues was that resolving identity happens through multiple interfaces. Some controllers reference Sentry directly to grab the user and others use the IdentityProvider interface.

Stubbing an IdentityProvider for tests seems much lighter than all the setup required to get Sentry/Sentinel

[2017-10-04 19:37] chartjes commented on #498
@mdwheele

I think an IdentityProvider would be a great first step -- creating a double for the provider rather than all the Sentry stuff seems like a much better testing approach

[2017-10-05 03:53] mdwheele commented on #498
I'm checking this out; running through the upgrade now. I'll send some PRs to the branch shortly. Immediately ran into:

[code]

[2017-10-05 05:46] mdwheele commented on #498
I've opened #499 to fix a few issues I had getting the branch running for a pre-existing user. I've gone so far as to log in and that's it. I'll dig in a bit more now.

[2017-10-05 06:40] mdwheele commented on #498
Working through a lot of test failures in the current branch. Going to try and merge `upstream/master` and start from that since the branch is somewhat behind.

[2017-10-05 08:05] mdwheele commented on #498
Aight, I'm donezoes for tonight. The PR above has some basic fixes. I've got another branch on my fork where I rebased this branch onto `upstream/master`. It also fixes all failing tests. I need to verify that in my resolution of conflicts, I did not remove any improvements / break anything outside of test suite.

Comparison:

https://github.com/opencfp/opencfp/compare/ch-symfony-security-refactor

[2017-10-05 18:03] mdwheele commented on #498
Based on conversation in #499, I've started from scratch. The work, compared against `upstream/master`, can be seen-in-progress at: https://github.com/opencfp/opencfp/compare/master...mdwheele:feature/use-identity-providers

I'm trying to do a good job of capturing incremental refactor steps per-commit for easier review. For instance, aac3fdb8a31bf64f4a0d9008d4903dbaf4529524 marks every place I fo

[2017-10-08 16:06] chartjes commented on #468
Pretty sure this can be done via php.ini to extend the session life. Does not strike me as something that needs to be in OpenCFP itself

[2017-10-08 16:06] #468 closed

[2017-10-08 16:07] #394 closed

[2017-10-08 16:08] elioqoshi commented on #405
@chartjes Sorry, this somehow got lost. Are you still up for that?

[2017-10-08 16:10] chartjes commented on #405
@elioqoshi I am, I am just going through issues and closing ones that seem dead or do not fit what I, as Dictator For Life, want to see for the project ;)

[2017-10-08 16:14] chartjes commented on #487
Hi @tobru,

If I am understanding your enhancement request, you would like to see something like:

* email everyone who has a talk that was labelled as "accepted" with "your talk has been accepted"
* email everyone who has a talk that was not accepted a rejection email
* create editable template for the acceptance email
* create editable template for the rejection email
* add admin feature for act

[2017-10-08 16:28] tobru commented on #487
@chartjes You got it exactly as I imagined this feature! 🎉

[2017-10-08 16:39] chartjes opened #506 "[RFC] Refactor from using Spot to Illuminate"
As I look at the upcoming refactor from Sentry to Sentinel, I notice that it natively supports working with illuminate/database. It could be easier to integrate other libraries and tools into OpenCFP if we support illuminate/database

[2017-10-08 16:42] mdwheele commented on #506
👍 for Eloquent. Behind that 100%.

[2017-10-08 17:08] elioqoshi commented on #405
![draft-01](https://user-images.githubusercontent.com/5436686/31319022-f06e98f8-ac5b-11e7-99c6-c631a8708097.jpg)

Gave this a go, made it icon friendly and had a go at the Zilla font which is also an open font (used by Mozilla)

What do you think?

[2017-10-09 16:44] chartjes commented on #405
@mdwheele What do you think?

[2017-10-09 16:54] mdwheele commented on #405
I think it's pretty badass. Any chance you have it as an SVG? 😄

[2017-10-09 17:13] BackEndTea commented on #506
I'm playing around a bit with this, and i'm wondering, would it be better to simply call the static models like this:
[code]
Or if its better to load the models from the container so we can do this:
[code]
And have some kind of Model provider that looks a bit like this
[code]

And on another note, this is probably a good chance to up code coverage as this and #498 will require a decent amount of r

[2017-10-09 17:24] mdwheele commented on #506
I wouldn't do service lookup on Eloquent models. For such a relational model, calling them directly would be fine, I think. That said, it wouldn't be unreasonable to continue the use of things like `SpeakerRepository`.

[2017-10-09 17:33] mdwheele commented on #506
Left this on a related PR but it's probably more relevant here:

[2017-10-09 18:00] BackEndTea commented on #506
@mdwheele I changed one controller to work with Models, and the nice thing about working with the provider is that you can easily mock them out. Which becomes a bit more difficult with static calls.

I agree on this one, thats why i didn't make a model for the Phinxlog and a few other items. That and the fact that it doesn't get used anywhere.

Depending on how much functionality we move to the mo

[2017-10-09 18:17] mdwheele commented on #506
Gotcha. I agree with the idea, just at a different level of abstraction. Rather than putting every AR model in the container, I would prefer to put "application-owned" *access* to the model in the container. Basically explicate support entry-points of the model and once retrieved, let callers navigate freely, but I never expect to be able to get `TalkComment` from the container. I would instead gr

[2017-10-09 18:25] mdwheele commented on #506
Hehe, also, I don't mean to come across as bike-sheddy. I say we open a PR and work it 😄

[2017-10-10 11:24] elioqoshi commented on #405
Sure! If you want to go with this, I can export it for you in SVG and PNG in horizontal, vertical, color, black and white versions :)

[2017-10-12 08:23] mdwheele commented on #405
@elioqoshi I've started incorporating this into some UI work I'm playing around with. Don't mean to push (no rush) but if you get a chance to export the SVG, lemme know! Specifically, I think I only need the icon. Coloration can be done via CSS depending on how the SVG paths/layers get exported. Was able to bring in Zilla Slab via Google Fonts.

[2017-10-13 09:27] elioqoshi commented on #405
@mdwheele here we go mate!

https://github.com/uracreative/works/tree/master/openCFP

Let me know if you need anything else and what Copyright/License notice I should put into the folder.

[2017-10-13 16:01] mdwheele commented on #405
The project is [MIT licensed](https://github.com/opencfp/opencfp/blob/master/LICENSE.md) but I don't know if that requires that artwork be licensed that way. As long as the licenses are compatible, I think the decision is yours to make, as the contributor. That said, I am no lawyer 😄

@chartjes do you have any advice re: licensing?

[2017-10-13 19:39] elioqoshi commented on #405
I am fine with Public Domain CC0 but you should use anything between CC0, CC BY or CC BY SA :)

[2017-10-13 19:39] elioqoshi commented on #405
Also as a contributor I happily transfer the logo rights to you, as the openCFP maintainer

[2017-10-14 07:46] mdwheele commented on #405
Hey @elioqoshi. Did a bit of research and CC0 looks good to me. I've also been playing around with design ideas and incorporated this into those. I figured you'd be interested in how the work's applied. Thanks again for the new logo. Looks great!

**Before**
![image](https://user-images.githubusercontent.com/2453394/31573896-4adc65f6-b092-11e7-8d64-559476032245.png)

**After**
![image](https://use

[2017-10-14 12:43] elioqoshi commented on #405
That looks indeed great! Happy I could help

[2017-10-16 05:12] #405 closed

[2017-11-06 16:12] sybix opened #521 "[Enhancement] Use trusted_proxies"
# Steps required to reproduce the problem

1. Deploy opencfp with a ssl reverse proxy, with x_forwarded_proto enabled
2. Enable secure_ssl

# Expected Result

* Correct loading of the app

# Actual Result

* Infinite redirect because of the x_forwarded_proto header not trusted

For now i have added this to index.php

[code]

It would be nice if it is a paramer in production.yml

[2017-11-06 16:19] chartjes commented on #521
@sybix Thanks for the feedback. I would gladly accept a PR that adds a value to `production.yml` for this and changes to `index.php` that look for that value to be set.

[2017-11-12 16:13] BackEndTea opened #578 "The API is broken"
# Steps required to reproduce the problem

1. run the app
2. go to /api/me

# Expected Result
See some kind of result

# Actual Result
Fatal error

The API requires League\OAuth2\ which isn't even in the composer.json anymore.

I'd like to know if there is any intention of getting it up and running at some point. And if its not, should tests etc for the API still be maintained. Or should it just b

[2017-11-12 16:35] mdwheele commented on #578
Looks like the dependency was accidentally dropped with the [Great Silex 2.0 Mergening](https://github.com/opencfp/opencfp/commit/36bf5a8ef4f172359b32b7f88275dad63283b284#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780)

[2017-11-13 00:00] chartjes commented on #578
There is a plan afoot to build a SaaS for OpenCFP so I am planning on removing this feature for v2

[2017-11-13 10:56] localheinz commented on #578
Noticed this as well when looking through the code, but wasn't entirely sure what the plans were with the code referencing the undefined classes.

Nice catch, @BackEndTea!

[2017-11-13 14:26] chartjes opened #586 "Update PHPMD to not be triggered on use of static method calls"
I noticed that a few PR's are being rejected by Code Climate due to static method calls. I don't think these are necessarily a bad thing, so is there a way for us to tweak the PHPMD settings to reflect this?

[2017-11-13 18:05] #586 closed

[2017-11-14 16:27] #506 closed

[2017-11-16 14:54] #485 closed

[2017-11-16 14:54] #415 closed

[2017-11-16 14:56] chartjes opened #618 "Migration to Symfony 4"
Silex is hitting EOL in June 2018, so I think it's time for us to figure out how to move OpenCFP more towards Symfony, perhaps targeting Symfony 4.

[2017-11-16 15:00] mdwheele commented on #618
Laravel! :grinning:

[2017-11-17 20:46] nikolaposa opened #622 "[Question] Talks archive"
I was wondering whether there is an option to archive/reset talks from a previous year before opening CFP for the new year so that they are not visible anymore? Is there a more elegant/meaningful way other than wiping out talks data?

Or to formulate it differently: what's the recommended workflow for reusing CFP between conferences?

[2017-11-17 21:48] dbu commented on #618
i'd like to look into porting it to symfony 4 flex. no promises though, i'll try a bit and then report back if i think that i can seriously propose to do it, to check if that is whats wanted.

[2017-11-17 21:52] dbu commented on #521
according to https://symfony.com/blog/fixing-the-trusted-proxies-configuration-for-symfony-3-3 the trusted proxies should really be done in the frontend controller and not later. symfony 4 will mandate that way and not have a configuration for it anymore. maybe this should just be documented like that, or point to the relevant doc of silex.

[2017-11-21 08:35] sybix commented on #521
Hi,

I have made a patch, i take the config from security.trusted_proxies in config file, and i use it in classes/Application.php

If it's ok, i can do the PR. I hope by the end of week.

[2017-11-23 10:30] enygma commented on #578
In poking around and trying to call the `/oauth/authorize` endpoint I get an error:

[code]

I'm guessing this has to do with the same thing?

[2017-11-23 22:45] chartjes opened #697 "Fontawesome fonts not working correctly"
# Steps required to reproduce the problem

1. Load any page inside the site

# Expected Result

* Anything styled with Font Awesome fonts should work

# Actual Result

* They don't

I went and generated a CDN embed code linked to my email address, but we need a more permanent solution.

[2017-11-24 00:21] mdwheele commented on #697
I'll take a look once the kiddo is asleep. I'll do a fresh install because it currently works for me, so I've probably got something else going on that's allowing that.

[2017-11-24 04:34] mdwheele commented on #697
I think I must be missing some information. It looks like iconography from FA is working correctly:

![image](https://user-images.githubusercontent.com/2453394/33195566-bb4b1a74-d0a6-11e7-810d-1d35a0c04663.png)

![image](https://user-images.githubusercontent.com/2453394/33195570-c7365e7a-d0a6-11e7-8a3b-1e1a092c05b2.png)

Any more detail on this?

[2017-11-26 21:19] mdwheele opened #721 "Tests are failing for configurations that don't use root as database user."
# Steps required to reproduce the problem

1. Use Homestead (that has user `homestead:secret`, not `root:`) or any LAMP stack that doesn't use `root` database user.
2. Clone project and `script/test`

# Expected Result

* I should get similar results to TravisCI

# Actual Result

* I get a ton of DB failures related to database configuration:
[code]

See this diff where functionality was "broken":

[2017-11-26 21:47] mdwheele commented on #721
Thoughts:

* Is there any reason for both `DataBaseInteraction` and `RefreshDatabase` to exist? They're almost doing exactly the same thing, except `RefreshDatabase` is expecting an Illuminate Manager to exist in the container.
* Is there any benefit to maintaining a `dump.sql` file rather than simply dropping all tables and running migrations as usual?

[2017-11-26 22:04] mdwheele commented on #721
I'll make a pass at this soon. My current direction will be:

- Get a passing suite by allowing a `root` database user.
- Eliminate `DataBaseInteraction` and substitute `RefreshDatabase` at every usage. Fix broken that results from that.
- Modify `RefreshDatabase` to behave like the following:
  1. Make sure database is migrated exactly once.
  2. Wrap test methods in transactions.
  3. End-state

[2017-11-26 22:23] localheinz opened #723 "Use PSR–11 implementation instead of Pimple"
In order to move forward with #618, we should probably use a [PSR–11](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-11-container.md) implementation (rather than Pimple).

[2017-11-26 22:42] mdwheele commented on #723
I think the next step for the references issue is to decide on framework and just start moving. It looks like Symfony 4 is going to win.

I don't think swapping an alternative container is necessary to make progress. I also think this is a great opportunity to do the great "controllers as service" migration if we're continuing to endeavor for unit tests as the framework layer. It'll help to have d

[2017-11-27 02:54] mdwheele opened #724 "[RFC] Any interest in Dockerization of the OpenCFPs?"
I've been keeping a super-simple `docker-compose.yml` to the side for work I do on OpenCFP. Is there any interest in that? OpenCFP is one of the easier projects to set up so I don't know how much value there is in this, but figured I'd ask those involved.

Suggestion would be to store all of it in a directory named `.docker` at the root of the project. One "benefit" of using Docker is that there w

[2017-11-27 06:48] BackEndTea commented on #721
He difference between the 2 traits is that one will set up the db before every test. The other one sets up the db before the class. This was done since some tests just read from the db to test things.

The dump.sql file is there to speed up the tests. Its faster then migrating up for every test. Since that inckudes a lot of changes and all the aurports. Though i agreee its a bit of a crude option

[2017-11-27 16:27] BackEndTea opened #743 "[RFC] Remove dead code"
After the last few PR's we have a lot of dead code in the application.

* All Sentry specific classes (Providers/ Auth classes)
* API Code
  * ```Http/Api```
  * ```Http/Oauth```
  * ```Infrastructure/Oauth```
 * Api Gateways/ Providers
 * Tests for all those.

As far as Sentry goes, it can also be removed from composer. Unless we want to keep it in for a while, to allow people who wrote their own

[2017-11-28 13:26] mdwheele commented on #743
:+1: to remove all of those as well as the dependency on Sentry via Composer. Would you be down to send a PR? (*he asks knowing @BackEndTea is 100% down to PR*)

The way I see it: If folks have forks of the project with their own patches, patching `cartalyst/sentry` back into the project isn't too bad and keeps `upstream` clean. Alternatively, if we want to keep it, lets make sure to create an iss

[2017-11-28 13:28] mdwheele commented on #697
One thing I noticed when building all of this is that I had to do a *hard refresh* on my browser to pick up font-awesome stuff. One day, we could implement asset versioning and all that jazz to work around the issue, but I would rather wait until this lands in a non-EOL framework (which might support this feature by default).

Gonna close this out, but if there are more details I'm missing, I'm do

[2017-11-28 13:28] #697 closed

[2017-11-28 13:35] mdwheele commented on #721
Transaction-ception generally works as long as you [avoid statements that implicitly COMMIT](https://dev.mysql.com/doc/refman/5.7/en/implicit-commit.html). I work on another project that uses transactions to commit events to an `EventStore` and we migrate once at beginning of suite, wrap all test methods in a transaction and tear down the testing database at the end of suite. It works, but admitte

[2017-11-28 14:33] BackEndTea commented on #743
I removed all of the dead code i could find, but kept the Sentry for now.

[2017-11-28 15:25] #743 closed

[2017-11-28 15:27] chartjes commented on #622
@nikolaposa I think the usual process is to simply delete everything from the talks table but keep the user accounts in place.

If I were to implement this in code I would add a column to the talks table that indicates a talk is archived or not and then allow the archiving to occur via the bin/opencfp CLI tool.

[2017-11-28 15:35] nikolaposa commented on #622
@chartjes That could be a useful feature.

Feel free to close this issue, I got the input I needed. Thanks!

[2017-11-28 15:40] chartjes opened #762 "RFC: New submission and merging process for PR's"
I have a weird desire to get all these PR's merged as soon as possible so I am not being as thorough as I could be, so I want to propose some new ground rules for managing the submission and merging of PR's.

I want every PR to have a review request attached to it. I will not merge any PR's that did not have a review request and will not merge any PR's that have not passed a review.

Sometimes I h

[2017-11-28 15:40] #622 closed

[2017-11-28 15:42] BackEndTea commented on #762
Sounds good to me, maybe this will stop me from introducing bugs all over the place

[2017-11-28 15:42] localheinz commented on #762
@chartjes

Problem is that contributors other than maintainers cannot request a review! 🤓

[2017-11-28 15:43] localheinz commented on #498
@chartjes @mdwheele

I think this can be closed following #624?

[2017-11-28 15:44] #498 closed

[2017-11-28 15:44] chartjes commented on #578
Removed from master branch

[2017-11-28 15:44] #578 closed

[2017-11-28 15:57] chartjes commented on #762
@localheinz Is there a setting I can change to allow non-maintainers to request a review?

[2017-11-28 15:58] localheinz commented on #762
@chartjes

I don't think so, that's only possible for collaborators!

[2017-11-28 15:59] chartjes commented on #762
Okay, I added in @localheinz and @BackEndTea as collaborators

[2017-11-28 16:00] localheinz commented on #762
@chartjes

Nice, thank you!

You should probably enforce an approved pull request review in https://github.com/opencfp/opencfp/settings/branches/master!

[2017-11-28 16:02] chartjes commented on #762
@localheinz Done -- all PR's should require a review now. I don't think I should turn on "require review from Code Owners" because not everyone who has written code still contributes to the project

[2017-11-28 16:13] localheinz commented on #762
@chartjes

One more question, though, how would you prefer to go forward with merging PRs?

Once approved, who can or should merge the PR?

[2017-11-28 17:44] BackEndTea commented on #762
@chartjes Thanks for the collaborator role.

[2017-11-29 10:39] BackEndTea opened #774 "RFC: Better e2e testing"
Right now we use our controller integration tests as e2e tests, but they widely differ in what they actually test. Some mock out just about everything and try to be it a unit test, while others mock next to nothing.

We also run into the issue that while PHPUnit is great for unit tests, its maybe not the best choice for e2e testing. I think we may greatly benefit from something like [behat](http:/

[2017-11-29 10:45] BackEndTea commented on #774
Some options that i found

* [Codeception](http://codeception.com/docs/03-AcceptanceTests)
* [Behat](http://behat.org/en/latest/)
* [StoryPlayer](http://datasift.github.io/storyplayer/)

[2017-11-29 11:31] BackEndTea commented on #762
@chartjes

Do you want to enforce something along the lines of 'A PR larger than X requires multiple reviewers'?

[2017-11-29 14:52] localheinz commented on #400
I think this is a good idea!

[2017-11-29 14:54] localheinz commented on #622
I am not a conference organizer, but I think this could be a good feature in the context of evaluating submissions, for example

* do we want to hear this speaker again talking about a very similar topic
* statistics

[2017-11-29 14:55] BackEndTea commented on #622
Europeans may want to worry about the [GDPR](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation) though.

[2017-11-29 15:07] mdwheele commented on #622
And to my understanding, "flagging as archived" would not be compliant. I think it'd require a full deletion of all requested user data. That wouldn't be that bad honestly, especially now that we've shored up better interfaces for `AccountManagement`.

I recently had to touch GPDR with an Event Store implementation I maintain. Fun stuff. Reasonably easy to comply with (on the surface, at least).

[2017-11-29 15:12] mdwheele commented on #774
We used to have a Behat suite (that I used originally to give me some stability while making large changes). I would prefer it to Codeception.

TBH, I think we go test crazy on controllers and a good, solid and readable e2e test would better express the behaviours we're after. The fact that we have like 90km of mock for 1m of test is a signal I think.

I would personally be very-much behind a Beha

[2017-11-29 15:18] mdwheele commented on #762
I think we should use our best judgement rather than enforcing much of anything. If someone sends a 1 line diff (I'm looking at you @localheinz with all your check PRs :grin:), then that's pretty straight forward. I guess it's a good example too (e.g. @localheinz sends a check that might be "controversial". He's pretty good about recognizing that and asking for additional scrutiny. Maybe that woul

[2017-11-29 15:53] localheinz commented on #762
@BackEndTea @chartjes @mdwheele

Regarding https://github.com/opencfp/opencfp/issues/762#issuecomment-347574917, can we clarify?

For example, if I open a PR, someone else approves it, who should be allowed to merge it?

[2017-11-29 17:52] chartjes commented on #762
I would go with method 1 -- the reviewer merges it in, which is what I have been doing here

[2017-11-29 18:05] chartjes commented on #618
@dbu I definitely think Symfony 4 is the target to move to given how much Symfony stuff we are already relying on. Would greatly appreciate you taking a look

[2017-11-29 18:11] chartjes commented on #724
@mdwheele This dovetails nicely with my hope to have "hey, here's how to install this on Heroku" plans

[2017-11-29 21:58] localheinz opened #788 "http://opencfp.com responds with 503 Service Temporarily Unavailable"
# Steps required to reproduce the problem

1. Run

[code]

# Expected Result

[code]

# Actual Result

[code]

Maybe we should do something with the domain?

[2017-11-29 22:00] chartjes commented on #788
@localheinz I own opencfp.org so we should switch to that

[2017-11-29 22:01] pmeth commented on #788
I have the domain opencfp.com. You guys can have it.

[2017-11-29 23:15] localheinz commented on #788
Ha, nice, @pmeth!

[2017-11-30 05:14] mdwheele commented on #724
Made it here, for now: https://github.com/mdwheele/opencfp-docker

It assumes latest stable version of Docker is installed and I've only done testing on Ubuntu and RHEL. There are some QoL things I'll add to it soon (need SSH keys sent to `workspace`, `git-completion`, etc.)

[2017-12-01 13:34] mdwheele commented on #618
Just as a heads up: I've started working on this. I've got the framework + some basic components (webpack-encore, twig, security) started. I'm working on pulling over our CI process and helping some things settle (the divergence between `.travis.yml`, `Makefile`, and `script/*`). I feel like TravisCI should be running (more or less) the same commands we are. If that happens to be `script/test`, co

[2017-12-01 14:17] dbu commented on #618
sounds like a great plan! and glad you are on it. i don't think i would really find time to work on it anytime soon, after all... too much interesting stuff to do, too little time.

[2017-12-01 14:39] mdwheele commented on #618
That is exactly the problem I seem to find myself in pretty much all the time. Cheers!

[2017-12-01 14:54] mdwheele opened #810 "Ideal PHP-CS-Fixer Checks"
Cc: @localheinz @BackEndTea

Currently, we're adding checks one by one to a "legacy" project and verifying tests we have still pass. Makes sense.

If we were starting fresh, what would our "ideal" code style checks look like? Would we grab `@PSR2`, `@Symfony`, `@PHP71Migration:risky` as a baseline and call it a day? Would we want additional checks on top of those? Would we be interested in maintai

[2017-12-01 14:57] mdwheele commented on #762
I think we've come to a decent resolution. Feel free to re-open; just grooming.

[2017-12-01 14:57] #762 closed

[2017-12-01 15:02] mdwheele commented on #723
I've started the migration to Symfony 4. Using this as an opportunity to eradicate Controller reliance on direct-access to container; instead relying on Symfony's service DI. Current strategy is manually moving code from this code-base to the new (which began as a fresh Symfony 4 Flex install).

There are some migration details I want to help ease, but the goal is to get a solid-enough baseline /

[2017-12-01 15:02] #723 closed

[2017-12-01 15:03] BackEndTea commented on #810
In all honesty, it doesn't really matter *what* the rules are, as long as they are 'enforced'. To make sure the code looks the same everywhere. I'm down to use ```@PSR2```, ```@Symfony``` and whatever else is needed.

I'd prefer to not add more dependencies then needed, so i'd rather just require php-cs-fixer, and set up the config ourselves.

[2017-12-01 15:05] BackEndTea commented on #723
@mdwheele Just gonna say this here, but if this breaks BC, maybe start the migrations from scratch as well?
As in start over with a base migration which makes the DB as we want it now.

[2017-12-01 15:15] mdwheele commented on #810
Definitely. Didn't mean to suggest adding any further dependencies simply for style enforcement. Mostly thinking forward to the impending splitting of this application into several bundles in possibly-different repositories. Would prefer to maintain similar style enforcement across both.

[2017-12-01 15:24] localheinz commented on #810
I would suggest to do the following:

- enable and disable more fixers as we see fit (and both the language and tools evolve)
- when we want to apply the same coding standard consistently to other projects within this organization, extract a configuration similar to [`localheinz/php-cs-fixer-config`](https://github.com/localheinz/php-cs-fixer-config)

Enabling one fixer after another has worked fi

[2017-12-01 18:49] chartjes commented on #618
@mdwheele The Symfony project has a page where they trying to put together a small guide to help people migrate. Anything you run into that is difficult should be reported here.

https://github.com/symfony/symfony-docs/issues/8678

[2017-12-01 18:54] chartjes opened #811 "RFC: Change to a train release model"
I am proposing we move from "Chris cuts a release whenever he feels like it's time" to "Chris cuts a release every Monday". This is referred to the "train model" at Mozilla -- whatever is on the train gets released.

[2017-12-01 18:57] mdwheele commented on #811
Big fan. Such train. Much delivery.

[2017-12-04 15:43] mdwheele commented on #618
Hehe, I saw that! The migration is going well, so far. Our approach is very similar to others' in that issue. I'll make sure to report any problems I run into. I think we're actually going to be able to maintain backwards-compatibility, for what it's worth.

I'm scoping this migration to include account management, authentication and talk submissions. I am purposefully leaving out much of the admi

[2017-12-04 17:03] derrabus commented on #618
I'm currently doing some research on how a migration path from Silex to Symfony could look like. Since this project is based on Silex and has a well maintained codebase, I gave it a shot. I even made it to a working prototype without the `silex/silex` package.

If you're interested, I can push it, but most tests are broken and the diff is too large to keep it in sync with changes that have already

[2017-12-04 17:25] mdwheele commented on #618
@derrabus if you want to push those changes to a branch on your fork, I'd be happy to take a look. I'm already pretty far into the move, myself, but would be interested in comparing.

I wanted also to use this as an opportunity to clean up and not necessarily move everything over 1:1.

[2017-12-05 10:29] derrabus commented on #618
@mdwheele Here you go: https://github.com/derrabus/opencfp/tree/remove-silex

[2017-12-05 10:48] localheinz commented on #618
@derrabus

Hehe, I remember your talk at SymfonyCon Berlin 2016: https://berlincon2016.symfony.com/speakers#session-1851.

👍

[2017-12-05 17:54] mdwheele commented on #618
Thanks @derrabus! With all that's going on in #850 (or in split PRs; whatever is decided), I think I'm going to hold off moving forward with my branch. If you want to send what you have as a PR, we could work through that. I get about 4-5 hours between 10pm - 3am to work on projects like this and have felt like the last few weeks have been 2 hours of rebasing to make 30 minutes of progress, haha.

[2017-12-05 18:04] derrabus commented on #618
@mdwheele I think this migration should not be done in a big-bang-all-or-nothing-PR. We can do this in small steps that all result in a runnable application. That's why I've submitted that PR: it reduces the coupling with Silex, so the diff for a Symfony 4 migration becomes smaller.

[2017-12-05 19:31] mdwheele commented on #618
Agreed! Just to clarify; don't take my previous comment as "frustrated". It is what it is. I'll never ever say "too many contributors is a bad thing". I just don't want to get in the way :grinning:. We appreciate the help.

[2017-12-06 13:16] mdwheele opened #873 "Do we prefer `@dataProviders` stick to array-of-arg-arrays, yield or /shrug?"
Related: https://github.com/opencfp/opencfp/pull/853#discussion_r155086734
Related: https://github.com/opencfp/opencfp/pull/871#discussion_r155227907

We've had a few PRs come in that use some arrangement of `yield` to return a `Generator` or `iterable` object. It looks like in both cases, this was done for readability, personal-preference, etc. My reviews have suggested sticking with array-of-arg

[2017-12-06 14:15] chartjes commented on #873
I want to see:

* named data sets
* continue to use array-of-arg-array for data providers

It also never occurred to me that too many arguments from a data provider was a combination test-and-code smell but upon reflection that makes sense.

I will submit a PR adding this requirement to the CONTRIBUING.md document

[2017-12-06 14:17] localheinz commented on #873
What about naming of data providers?

We could enforce that data providers follow a specific naming scheme, too.

[2017-12-06 14:20] chartjes commented on #873
@localheinz I am not sure how much I care about the name of a data provider, but open to suggestions

[2017-12-06 14:32] mdwheele commented on #873
For reference, this code...

[code]

Fails like this...

[code]

I value simplicity / readability of tests and output that points to the problem on failure. I think keeping it similar to the above example is reasonable.

If we have anything that turns:

[code]

into...

[code]

That would be nice to avoid.

[2017-12-06 14:48] derrabus commented on #618
A few things that need to be discussed for the migration:

* Symfony 4 requires php 7.1, OpenCFP currently requires 7.0. So your options are:
  * Go php 7.1 and Symfony 4.
  * Stay compatible to php 7.0 and live with Symfony 3.4 for now.
* Symfony compiles its DI container and router and it needs a place to dump them to. OpenCFP does have a cache directory, but it currently allows the user to disa

[2017-12-06 14:52] localheinz opened #877 "Do we want to remove TestResponse in favour of providing assertions elsewhere?"
Currently, we use the [`TestResponse`](https://github.com/opencfp/opencfp/blob/ee3305b58f7054f2b242b748a29bc7fb68ad3806/tests/TestResponse.php) class as a means to simplify assertions on a response object returned from invoking a controller action.

As pointed out in https://github.com/opencfp/opencfp/pull/870/files#r155239203, I would suggest to remove the `TestResponse` class and instead provide

[2017-12-06 14:54] dbu commented on #618
one option might be to provide opencfp as a bundle that can be installed with flex. then you would have all system setup in the bundle and the installation would be to do start with symfony/skeleton and then `composer require opencfp/opencfp` and you can configure opencfp in the config file that is copied by flex to /config. makes the initial setup a little bit harder for non-symfony users, but ma

[2017-12-06 14:57] mdwheele commented on #618
Think we were headed towards bumping to 7.1.12, specifically because of the changes in the internal server that happened in 7.1.12 and 7.2.0. It made it easier than having to support both sides of the fence. I think I echo @chartjes on "not *if* we go to Symfony 4; we *are* going to Symfony 4" so it looks like we're dropping support for PHP 7.0, which is good.

I would personally prefer to let Sym

[2017-12-06 15:13] derrabus commented on #618
@dbu

Yes, that would be the way to go, if we don't see OpenCFP as a standalone application but as an extension to an existing Symfony application. Right now it's a standalone application. Changing this would be possible, but it's not a requirement for a Symfony migration.

No, you don't need to fork the project to use it now, so why would you need to fork it once Silex is gone? You can perfectly

[2017-12-06 15:22] mdwheele commented on #618
This is a good time for us to be reconsidering some of that. I think collapsing down to `.env` would be good for the project. We could wait on that though, like you say and do it later for 2.0.

Oh but I want to be! Haha. I'm fleshing [this](https://github.com/mdwheele/opencfp-docker) out to the side for local development. For production installs not using Docker, vars can still be configured at t

[2017-12-06 15:30] chartjes commented on #877
👍 to making it a trait

[2017-12-06 15:31] chartjes commented on #618
@mdwheele I am concerned that less-technically-inclined folks might mess things up at not configure things to deny .env requests. Again, we're trying to make sure people can checkout a release and install it with the fewest number of commands possible

[2017-12-06 15:33] mdwheele commented on #877
From https://github.com/opencfp/opencfp/pull/870/files#r155252549:

Would we still need to address this problem if we implemented #774? With a reasonable Behat suite, I see little need for the types of tests that use `WebTestCase` (and by-extension, `TestResponse`)

[2017-12-06 15:41] mdwheele commented on #618
The shops that have to put those rules in are already doing "weird things" by moving front controllers to the root of the project. Our own documentation about how to configure Apache is the "right way" to do it.

[code]

Ultimately, a `docker-compose.yml` that allows "pull this down and run `docker-compose up -d`" or Heroku is a good direction. At the end of the day though, someone is going to hav

[2017-12-06 15:52] chartjes commented on #811
Closing this as the person who cuts the release is going to do it ;)

[2017-12-06 15:52] #811 closed

[2017-12-06 16:00] localheinz commented on #873
@chartjes

As I personally prefer to prefix my test methods with `test` (as opposed to using the `@test` annotation), I also prefer to prefix my data provider methods with `provider`).

Similar to consistently suffixing controller actions with `Action`, this makes it easier to see what the purpose of a method is.

[2017-12-06 16:01] chartjes commented on #484
Closing this since a modular rating system are a planned feature of OpenCFP Central, coming some time in 2018

[2017-12-06 16:01] #484 closed

[2017-12-06 16:02] chartjes commented on #487
Closing as this is a planned feature of OpenCFP Central

[2017-12-06 16:02] #487 closed

[2017-12-06 16:02] chartjes commented on #521
Closing since OpenCFP is migrating to Symfony 4

[2017-12-06 16:02] #521 closed

[2017-12-06 16:03] chartjes commented on #384
Closing as OpenCFP 2.0 is moving towards SSO via Github/Facebook/Twitter/OpenCFP Central

[2017-12-06 16:03] #384 closed

[2017-12-06 16:04] BackEndTea commented on #873
@localheinz
Thankfully there should be a php-cs fixer for the annotation or not soon.

[2017-12-06 16:06] chartjes commented on #873
@localheinz I'm happy to add something to the contributing guidelines to prefix data provider methods with `provider`

I will insist on the @test annotation as I like how it results in more flexible test names

[2017-12-06 16:09] tobru commented on #487
@chartjes What is "OpenCFP Central"?

[2017-12-06 16:13] chartjes commented on #487
@tobru A planned centralized app that will allow for SSO for other OpenCFP instances running v2 of OpenCFP and paid reviewing tools (including ability to email speakers and submitters)

[2017-12-06 16:33] chartjes commented on #788
Will talk to @pmeth about transferring ownership

[2017-12-06 16:33] #788 closed

[2017-12-06 16:34] dbu commented on #618
if everything that needs to be configured can be configured in parameters.yml / .env then indeed people don't need to fork.

as for exposing .env: normal webservers afaik never deliver hidden files (that start with `.`). plus, the .env file belongs into the root, and the web directory is the entry point for web requests. i think if you are afraid that people misconfigure their servers, config/para

[2017-12-06 16:47] chartjes commented on #618
@dbu Thanks for clarifying some things I was wondering about.

Again, as the least technical of the folks flooding this project with PR's I aim to keep getting OpenCFP installed and running as easy as possible. :)

[2017-12-06 17:21] derrabus commented on #618
I think, we can keep the current configuration file as it is. That should keep the migration path easy. For the user, the only difference would be that the cache cannot be turned off anymore.

[2017-12-06 20:09] mdwheele opened #882 "Are there any PHP-CS-Fixer checks we could be using to enforce CONTRIBUTING.md"
See: https://github.com/opencfp/opencfp/pull/880

- **All test methods must have the `@test` annotation** -- We value descriptiveness in test method names
- **All data providers must return array-of-args-arrays** -- The use of generators may let us not remember the number of arguments but too many arguments is a sign of potential code- and test-smells
- **All data provider methods must be prefixed

[2017-12-06 20:20] BackEndTea commented on #882
Maybe i'm misunderstanding something, but wouldn't it make more sense to have dataproviders be suffixed with ```provider``` instead of prefixed?

```validRatingProvider()``` makes more sense then ```proivderForValidRatings()```

And issue number one will be resolved once my PR gets accepted. (Which i found a bug in when running it on this project code 😁)

I was planning on writing another fix afte

[2017-12-06 21:08] BackEndTea commented on #882
I created an issue surrounding camel and snake case in https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/3302 So we'll see if there is a desire for that one.

[2017-12-06 22:22] keradus commented on #882
on the other side, we use convension for providers naming:
test method: `testFooBar`,
provider: `provideFooBarCases`
(as objects shall be named after nouns and methods after verbs)

[2017-12-06 22:25] keradus commented on #882
I do believe that 1st, 3rd and 4th concepts could be done easily as fixers, 2nd could be challenging.
Yet, they have to be configured (like enforce one or other notation).

@BackEndTea is already done great work for 1st idea.
Would you consider picking up one of the rule and create a PR for it, @mdwheele  ?

[2017-12-06 22:26] keradus commented on #882
(oh boy, I thought it's PHP CS Fixer repo, how did I get here? sorry ;) )

[2017-12-06 22:26] mdwheele commented on #882
Haha, I was reviewing open PR / issues last night looking for a fix I wanted and stumbled across your PR. So proud! :heart_eyes:

Oooooh, I misread that. I think you're right. We can open a PR for that. On the one hand, I like `provideScenariosForSomeBehaviour` for being able to quickly locate. I like assertive method names, in general. Maybe we just cut it to `provide`? At any rate, is there a "g

[2017-12-06 22:28] mdwheele commented on #882
Dude I just got SO CONFUSED because I posted a comment and thought I somehow ended up on the PHP-CS-Fixer repository... I think we're doing this open-source thing right.

[2017-12-06 22:34] keradus commented on #882
I would strongly suggest to start with one of those fixers first, and typos one later.
typos fixer will be way more complicated, IMO it's better to start with simpler one.

[2017-12-06 23:27] localheinz commented on #882
@BackEndTea @chartjes @mdwheele

For me, the reasons for prefixing test methods and data providers are obvious:

* a test class only needs two kinds of `public` *instance* methods: test methods and data providers
* if a test class has any `public` *instance* methods that aren't **obviously** test methods or data providers, they can probably be removed, or should have `protected` or even `private`

[2017-12-07 00:01] mdwheele commented on #882
No worries at all. I feel like a lot of this is preferences and as we're seeing, OpenCFP doesn't really have a specific preference yet, so we're hashing it out now :smile: And with that said, I try and not hang onto my own personal preferences too tightly with this project. Just need to find something that works and is accessible to newcomers.

That said... personally,

[code]

When I run with the

[2017-12-07 00:06] keradus commented on #882
so, basically, IMHO, you use PHPUnit to verify behaviour spec. Not to execute **unit** test.
it's not sth bad, just sth to be aware.
for pure unit test, you test given object, under which you test given concrete methods.
in pure utests, it's enough to have one test method (with data provider) per one src method.

[2017-12-07 01:44] #877 closed

[2017-12-07 14:50] chartjes opened #894 "RFC: Changing where images are uploaded"
In order to deploy to Heroku, we need to be able to change where our images are stored. https://devcenter.heroku.com/articles/s3#file-uploads talks about some potential solutions.

I tried abstracting out some stuff using Flysystem but I got stuck on not being able to create a backwards-compatible way of implementing it. Right now we assume all images uploaded will be served out of /uploads/<name

[2017-12-07 15:01] chartjes commented on #882
@keradus I find @mdwheele and I are are usually on the same page in wanting tests to be descriptive and like the "it_quacks_like_a_duck" format. Again, a lot of these are just personal preference but now that the number of contributors is expanding we need to write down some rules.

Hopefully a lot of these can be handled with `make cs` but actually looking at the code in the PR will catch them to

[2017-12-07 15:06] chartjes commented on #873
Closing because It Has Been Decided we will go with array-of-arg-array for providers instead of using generators

[2017-12-07 15:06] #873 closed

[2017-12-07 15:11] keradus commented on #882
you could still achieve that with pure unit test with
[code]

whatever approach is taken, automated detection would be great ;)
that's why, if one would start working on PR, we would simply need option to control it

[2017-12-07 15:16] BackEndTea commented on #882
I agree that simply running ```make cs``` and having any standards like name suffixes/prefixes or having annotation would be fixed.
The second best option would be to have automated test that tell us something isn't right.
Basically what is happening here already.  https://github.com/opencfp/opencfp/blob/52bf661fde9883c57ed042bc6ec49b2cac4548c0/tests/Unit/ProjectCodeTest.php#L143-L146

[2017-12-07 16:54] keradus commented on #882
similar amount of work, so I would strongly suggest to make fixer rather than project code test ;)
especially as big part of it was already started by you ;)

btw, nice to see that my idea of ProjectCodeTest is spreading across different projects ;)

[2017-12-07 18:51] derrabus commented on #618
I've made a new prototype. Have a look at #895, if you like.

[2017-12-07 21:25] derrabus commented on #618
Seems like briannesbitt/Carbon#1028 is blocking Symfony 4 for us at the moment.

[2017-12-08 08:22] BackEndTea commented on #618
On the topic of upgrading to php 7.1, It might be time to give all our dependencies a good look-over, and see if we want to swap any out, not all of them are being tested against php 7.1, some are not even being tested against php 7.0.

[2017-12-08 08:26] BackEndTea opened #898 "RFC: more labels"
A lot of issues and pull requests get labeled as either bug, enhancement or question, even if that is not what they really are.

A few labels i can suggest are
- Feature request/ proposal
- Feature
- good first issue/ beginner
- needs review

And i think we can remove the Hacktoberfest label for now

[2017-12-08 10:31] derrabus opened #901 "Swiftmailer 6"
OpenCFP depends on Swiftmailer 5, but Symfony 4's Swiftmailer integration will require Swiftmailer 6. We should upgrade.

Prerequisite for #618.

[2017-12-08 16:00] chartjes commented on #898
Done

[2017-12-08 16:00] #898 closed

[2017-12-08 16:28] chartjes commented on #901
I will work on a PR to update this

[2017-12-13 09:45] BackEndTea commented on #894
👍  for Flysystem. One problem is that currently there is not a single place where the uploads location is defined.

There is the ```Path::uploadPath()``` function, but it is never actually used outside of its tests. Currently some views use the twig ```uploads``` function, some just add ```/uploads/``` to it themselves, and some expect it to be already prefixed with ```/uploads/``` by the controll

[2017-12-13 10:51] BackEndTea opened #910 "RFC: responsive design"
# Steps required to reproduce the problem

1. browse to OpenCFP on a mobile phone

# Expected Result

* See a good looking mobile page

# Actual Result

![image](https://user-images.githubusercontent.com/14289961/33935294-ada931ee-dffb-11e7-92da-7bbdd055ad81.png)

On most tablets everything looks fine, so thats not an issue, but on phones the website appears broken to say the least.

[2017-12-14 03:25] mdwheele commented on #810
Thanks for the discussion here! I think we're good to continue with the current direction.

[2017-12-14 03:25] #810 closed

[2017-12-14 11:11] BackEndTea commented on #894
I made some first steps on solving this, but i think it might be smart to wait with implementing FlySystem until we fully made the change to Symfony, so we can use the [the FlySystem bundle](https://github.com/1up-lab/OneupFlysystemBundle).

[2017-12-14 16:24] chartjes commented on #910
YES YES YES this needs changing. It looks horrible on mobile.

Should we try and find a designer to help us out or does one of have enough skills

[2017-12-14 16:34] BackEndTea commented on #910
As far as CSS goes i have the skills of a monkey missing half his brain. But i'm working on getting the menu to work on mobile right now as a first step.

[2017-12-14 18:11] mdwheele commented on #910
I think we just need to add responsive Tailwind classes to things we care
about.

On Thu, Dec 14, 2017 at 11:34 AM, Gert de Pagter <notifications@github.com>
wrote:

--
Dustin Wheeler | Software Developer
NC State University
mdwheele@ncsu.edu
"If you don't know where you're going, it's easy to iteratively not get
there."

[2017-12-15 10:54] BackEndTea opened #927 "Discussion: What to do with the test suite?"
Some related issues/PRs/discussions are:
* #919
* #917
* #774
* #721

Our current coverage, (including integration tests,) looks like this:
![image](https://user-images.githubusercontent.com/14289961/34038010-11107c84-e18b-11e7-8e1b-fcdf1a4e21a4.png)

And from #917 we found that our mutation metrics are as follows:
[code]
Looking at this, i'd like to think we are doing pretty well, as far as our t

[2017-12-15 11:22] mdwheele commented on #927
@BackEndTea thanks for writing this up.

I'm obviously a fan of this option :grin:. I think that in the short-term it offers the best benefit ensuring we have coverage over the things we're targeting via explicit `@covers` annotations while also allowing us to begin refactoring parts of our test suite.

This is a great idea. We should do this. We could have TravisCI push coverage results to `gh-pa

[2017-12-15 21:46] chartjes commented on #927
@BackEndTea Also, thanks for starting this discussion. You did highlight something that really bothers me:

* including integration tests we have an awesome code coverage value of 87%
* if we use just the unit tests we have a less-than-awesome code coverage value of 36%

So I think I would be comfortable doing the following

* Remove the badges because they are sending conflicting messages
* Publi

[2017-12-16 00:38] derrabus commented on #901
Fixed.

[2017-12-16 00:38] #901 closed

[2017-12-16 00:39] derrabus commented on #618
#895 is ready for review.

[2017-12-16 02:24] derrabus commented on #927
If you're referring to the functional tests outlined in http://symfony.com/doc/current/testing.html: You can write those already. Silex offers a compatible test client and with #934 we've integrated it into our `WebTestCase` class.

[2017-12-16 02:47] chartjes commented on #927
This is what I am referring to

https://twitter.com/samuelroze/status/941010870464806914

[2017-12-16 16:04] mdwheele commented on #724
Closing this to continue in #928

[2017-12-16 16:04] #724 closed

[2017-12-16 16:06] mdwheele commented on #927
Yep! And for the tests that require JavaScript interaction, you can set tags (`@javascript`) to execute against a headless-browser. Ends up working out really nice.

[2017-12-16 19:21] derrabus commented on #618
So, which libraries do currently block us from upgrading to Symfony 4?

[code]

[2017-12-16 19:32] localheinz commented on #618
@derrabus

What do you think about replacing `robmorgan/phinx` with `doctrine/migrations`?

This would also make sense in the light of switching to using `doctrine/orm`, if we wanted to.

[2017-12-16 19:50] BackEndTea commented on #618
For infection we can move to the phar if needed. But i know they are working on being 4.0 compatible.

[2017-12-16 19:59] localheinz commented on #618
How about removing all of the Laravel components?

[2017-12-16 20:01] derrabus commented on #618
@localheinz Pick the library that works for you. Doctrine Migrations is powerful when used with the ORM. As a stand-alone tool, it's as good as any other migration tool, imho.

I wouldn't worry too much about blocking libraries just yet. Symfony 3.4 and 4.0 have the same feature set, so until May 2018 we would not gain much from upgrading to 4.0 anyway.

[2017-12-17 10:13] derrabus commented on #618
Phinx will support Symfony 4 with its next release, see cakephp/phinx#1224.

[2017-12-17 10:19] derrabus commented on #618
I mean, you could replace Eloquent with Doctrine ORM, Sentinel with Symfony Security, Illuminate Validation with Symfony Validation etc. if you want to be more "standard Symfony". But as long as those libraries and are maintained and solve your problem, I don't see an urgent need to go that way.

[2017-12-17 12:24] localheinz commented on #618
@derrabus

For me it's not about being more *standard Symfony*. For me it's about being able to properly test components. If I see the effort required to test components using Eloquent models - or any other Active Record model, then I say "thanks, but no thanks".

[2017-12-17 12:38] derrabus commented on #618
That is a valid point indeed. Since this is imho not related to the Symfony migration, should we open another issue for this discussion?

[2017-12-17 17:06] localheinz commented on #618
@derrabus

Sounds good! 👌

[2017-12-17 23:53] #618 closed

[2017-12-18 02:10] chartjes opened #977 "Current master no longer allows running from script/server"
# Steps required to reproduce the problem

1. Check out a clean copy of the repo
2. Run `script/setup` and follow any instructions
3. Run `script/server`

# Expected Result

* Application gets served at localhost:8000

# Actual Result

* Error messages complaining about not finding things in `cache/development`

If I alter `web/index.php` to not call the debug function at all, then it serves up th

[2017-12-18 03:44] mdwheele opened #978 "Current master integration suite hates folks with 128M limit"
# Steps required to reproduce the problem

1. Have `memory_limit = 128M`
2. Be me, on Docker
3. Apply a bunch of fix-ups to testing configuration, Makefile and more to get a test database set up on another container
4. Once you stop getting "Connection Refused" errors after tracking all the places that assume `localhost`, run the integration suite!

# Expected Result

* Passes like champion runner

[2017-12-18 03:53] mdwheele opened #979 "bin/opencfp cache:clear throws exception"
# Steps required to reproduce the problem

1. Set up project, install dependencies, etc.
2. Run `bin/opencfp cache:clear`

# Expected Result

* Expect all caches to be cleared.

# Actual Result

[code]

Not being familiar with Symfony, I assume it's clearing cache and then something else is expecting to require a file that was cleared to do work. I can dig in later. I spent 5 minutes wondering why

[2017-12-18 05:28] mdwheele commented on #721
Hehe, I've made some pretty good progress with this post Symfony merge. Somewhere since 20 days ago, a change has caused my Docker-based environment to take 7m30s to run the integration suite (up from ~30 seconds). I'm blaming Docker at the moment, but I have been able to reduce runtime to 2m43s.

I'm going to try the RHEL release of Docker tomorrow and see if there are differences. I'm currently

[2017-12-18 06:59] derrabus commented on #979
Okay, sorry for that.

Symfony has its own cache:clear command.

We should add the regular Symfony console to the project, which would also expose some helpful debug commands. That console also has a cache:clear command which probably works better than my naive implementation.

We could even merge our commands into the Symfony console, but then we would give the user way more commands than he aske

[2017-12-18 08:44] localheinz commented on #978
@mdwheele

Running

[code]

yields

[code]

so how about just raising the memory limit?

[2017-12-18 11:21] mdwheele commented on #979
No worries! I was only making note as I was relearning the project :grin:

I think adding our commands to the standard Symfony console would be fine.

[2017-12-18 11:29] mdwheele commented on #978
Yeah, that's what I did. I'm just making note of it here. It's not been something I've noticed in the past, but 300+MB to execute tests seems like we're being lazy somewhere and it's probably worth tracking down.

[2017-12-18 12:47] #978 closed

[2017-12-18 13:06] mdwheele opened #983 "Is there any reason to use Mockery and the PHPUnit mock facilities?"
I've noticed recently we're using the PHPUnit mock facilities in new tests. We've previously preferred Mockery and had a few PHPUnit mocks sprinkled around like magic fairy dust :rainbow:.

Are there legitimate reasons for using both or is this another preference we should officially decide on?

I personally like Mockery's interface better for readability. However, my opinion is not too strong on

[2017-12-18 13:16] localheinz commented on #983
We could also consider using `phpspec/prophecy`.

Also see https://thephp.cc/news/2015/02/phpunit-4-5-and-prophecy.

[2017-12-18 13:29] mdwheele commented on #983
I'm down with that. I've only ever looked at Prophecy through the eyes of PHPSpec, but if we picked this up, it looks like we'd be able to drop a dependency and keep something similar to the "more-readable" interface of Mockery.

[2017-12-18 14:15] #977 closed

[2017-12-18 14:16] chartjes commented on #983
Prophecy is baked into PHPUnit these days so it's not the worst idea to use it. If the goal is to reduce dependencies, then this is a worthy task.

Personally I have moved to using Prophecy to teach folks in my workshops.

[2017-12-18 14:21] mdwheele commented on #983
Let's do it!

For me, reducing dependencies happened to be a side-effect of making our approach to testing more consistent / accessible. For our current usage, it looks like Prophecy will be a great replacement for Mockery / current PHPUnit mocks.

Can we agree that new PRs that do any mock/stub should use Prophecy rather than PHPUnit mocks / Mockery?

[2017-12-18 15:07] localheinz commented on #983
👍

[2017-12-18 15:07] #983 closed

[2017-12-18 18:40] #979 closed

[2017-12-19 13:48] BackEndTea opened #999 "RFC: interactive set-up"
Currently, when trying to set OpenCFP up for production, i found there were a lot of small things that needed changing.

So i'm proposing some kind of interactive set-up. I was thinking something among the lines of a shell script that asks you things like the hex of the brand color you wish to use, the uploads location for the profile images you wish to use, and all those things.

Which also bring

[2017-12-19 15:36] chartjes commented on #999
I think this would be great -- we will need something like this if we ever want to create images that will run up on Heroku (I think)

[2017-12-19 15:45] BackEndTea commented on #999
Its not *needed* but it makes everything a whole lot easier. Because right now its just a big hassle to change the same thing in 10 different files

[2017-12-19 16:32] mdwheele commented on #999
Hahahahahah, @BackEndTea! I'm so glad to see someone else post this. I've been dabbling with a web-based installer for OpenCFP but stopped working on it because of all the recent churn. I had limited time and rebasing *constantly* was getting in the way of progress. I'd be down to send that sooner or later. It's fairly similar to the "WordPress 5-minute Install". Basically just need to get depende

[2017-12-21 10:17] BackEndTea opened #1019 "RFC: move all scripts to composer scripts"
Currently there are multiple places where scripts for running tests etc are defined.

* ```Makefile```
* ```script/```
* ```.travis.yml```

I'd propose to define them in composer scripts, so we can run ```composer test``` or ```composer cs``` etc.
We could then delete the ```Makefile```,  `script/`, and update `.travis.yml` to use the composer scripts. And of course update documentation.

This has

[2017-12-21 11:22] BackEndTea commented on #927
Should we replace the controller/action 'integration' tests with the behat tests from #1018 ? Or do we keep both alongside each other?

cc @chartjes @mdwheele @localheinz

[2017-12-21 11:47] localheinz commented on #1019
I don't care much whether we use `Makefile` or `composer `scripts as long as I have short and simple commands available to build locally.

In regard to some duplication between `.travis.yml` and `Makefile`: I can think of a single reason why that is fine, and that is that it is easier to see which step failed when there are  multiple steps defined (rather than `composer make` or `make`), and there

[2017-12-21 11:49] localheinz opened #1020 "Replace home-made form classes with Symfony form types"
Currently, there exists an [`OpenCFP\Http\Form\Form`](https://github.com/opencfp/opencfp/blob/ced96624bf44fe922db24e10dc82ebfddced0153/classes/Http/Form/Form.php) and the following concretions:

* [`OpenCFP\Http\Form\SignupForm`](https://github.com/opencfp/opencfp/blob/ced96624bf44fe922db24e10dc82ebfddced0153/classes/Http/Form/SignupForm.php)
* [`OpenCFP\Http\Form\TalkForm`](https://github.com/ope

[2017-12-21 12:36] localheinz opened #1023 "Replace home-made and Illuminate validation with Symfony validation"
Currently we are using a bit of

* home-made validation
* validation using Illuminate
* no validation

Ideally, we should be consistently using one kind of validation, and especially since we have turned this into a Symfony application, I suggest we use [`symfony/validator`](https://github.com/symfony/validator).

Related to #1020.

[2017-12-21 13:01] BackEndTea commented on #1023
This one is only used in the base controller, so once we extract all controllers into actions this *should* be resolved.

On that note, the only place we use `illuminate/validaton`, `illuminate/container` or `illuminate/events` is in the base controller in the validation function. So once refactor that out we can drop those 3 dependencies.

[2017-12-21 13:29] mdwheele commented on #1023
Oh, and there is 100% an argument for "We're using Symfony, we should use Symfony".

😁

[2017-12-21 13:52] mdwheele commented on #1019
I'm 100% on consolidating to one and making Travis do *exactly* what we do to set up.

That said, the current `Makefile` makes a assumptions about the environment and cannot be used for anything other than a local development setup. I run OpenCFP in a Docker environment that separates Selenium, MariaDB, Nginx and PHP-FPM into different containers. Current setup process assumes database is availabl

[2017-12-21 14:04] mdwheele commented on #927
I think the Behat suite should represent critical paths only. It should represent the "core `Features`" of OpenCFP and scenarios that govern their operation. I think `Integration` should represent our technical integration of domain to particular infrastructure (e.g. `AccountManagement` to `Sentinel`, `Authentication` to `Sentinel`, etc.). Because we are treating our controllers as command handler

[2017-12-22 08:36] BackEndTea opened #1032 "Better handling and testing of emails"
In reality this is really two requests

## Async handling of emails
The sending of emails should be handled a-sync, and should have no impact on the submitting of talks. Currently on master, if the email has an issue we get an error displayed.

## Testing of sending emails
Although it is good practice to make sure we don't send emails during tests, it does mean that our tests don't cover the sendi

[2017-12-22 08:37] localheinz opened #1033 "Margins are broken"
# Steps required to reproduce the problem

1. Create project from current `master`
2. Take a look at pages

# Expected Result

* looking good

# Actual Result

![screen shot 2017-12-22 at 09 36 13](https://user-images.githubusercontent.com/605483/34291256-b2536028-e6fb-11e7-9844-bbf00254b015.png)
![screen shot 2017-12-22 at 09 36 16](https://user-images.githubusercontent.com/605483/34291257-b26f91

[2017-12-22 08:38] BackEndTea commented on #1033
#1016 should fix this

[2017-12-22 08:41] localheinz commented on #1033
@BackEndTea

Would you like to approve and merge #1016?

[2017-12-22 08:44] #1033 closed

[2017-12-22 15:27] chartjes commented on #1032
Restmail is also very good for this -- I use it at Mozilla to test a system where changes to records stored in a database correctly trigger emails.

I uses a nice API that we can hit directly with guzzle (or your HTTP client of choice)

[2017-12-28 16:26] derrabus commented on #618
There are now stable releases of Infection and Phinx that are compatible with Symfony 4. Now we just have to wait for the Illuminate components (or replace them).

[2018-01-05 15:12] BackEndTea commented on #721
@mdwheele Has this been fixed by #1007 ?

[2018-01-05 15:25] mdwheele commented on #721
The last thing holding this up was 7be8ed213f642fa589b9c6c9f34f2478510d875b, where the database connection configuration was hard-coded. Since all configs come from the Kernel, I think we're good to close.

[2018-01-05 15:25] #721 closed

[2018-01-05 21:56] matthewtrask commented on #487
@chartjes when is this happening? Would love to use it for Southeast PHP.

[2018-01-05 22:01] chartjes commented on #487
Probably won’t start working on it until March.

[2018-01-09 11:26] BackEndTea opened #1068 "RFC: Use correct HTTP response codes"
# Suggestion

Lets use Proper HTTP Codes for the responses.

[2018-01-09 16:44] localheinz commented on #1068
@derrabus

Absolutely! Noticed this a lot when dissecting controllers into actions, and have this on my list. Probably good to start working on this on already dissected actions.

[2018-01-09 18:52] BackEndTea opened #1070 "RFC: Use correct request types"
Some actions, like the speaker promote action sould be post requests, since they alter something, but instead they are GET requests.

These have to be updated to be POST requests, and maybe some logic has to change as well if that changes behaviour.

Somewhat related to: #1068

The routes that have to be updated are:

* [ ] `admin_speaker_promote`
* [ ] `admin_speaker_demote`
*  [ ] `admin_speaker

[2018-01-09 20:08] chartjes commented on #1070
👍 to this

[2018-01-10 14:38] chartjes commented on #774
Closing because we've started work on the Behat test suite

[2018-01-10 14:38] #774 closed

[2018-01-10 14:53] BackEndTea commented on #927
@chartjes Do we still want to do this?

[2018-01-10 15:11] chartjes commented on #927
@BackEndTea Yes I would like to do this. Because we are only tracking code coverage for unit tests the number is totally misleading. I have no idea how to send the coverage stuff to GitHub pages so someone will have to set that up

[2018-01-10 15:27] BackEndTea commented on #927
I personally don't like having a gh-pages folder in *this* repo, or a gh-pages branch.

Its probably best to create a repo dedicated to the gh pages and send the coverage report there.

[2018-01-10 15:41] lsmith77 opened #1075 "enable blind review"
this is a feature request to make it possible to do blind reviews of talks, ie. where the reviewer of submissions doesn’t see who submitted the talk. note I don’t run any conference myself but I think it would be good to make it easy for conferences to be able to do this.

that being said I know some conferences that require speakers to do 2 talks in order to be able to afford paying for travel ex

[2018-01-10 15:43] localheinz commented on #1075
@lsmith77

Great idea, like it a lot!

[2018-01-10 16:05] chartjes commented on #1075
@lsmith77 Thanks so much for the suggestion.

There is a plan to work on OpenCFP Central (OpenCFP 2.0 will allow publishing of talks and speaker info to it with a paid API token) starting in March with a much-improved reviewing UX and UI, so I will add that to the list of features to be considered for that.

[2018-01-16 23:31] hollodotme opened #1078 "bin/console user:create errors with: An option with shortcut "e" already exists."
# Steps required to reproduce the problem

1. Run `bin/console help user:create` command.

# Expected Result

* Display of options and arguments for the `user:create` command.

# Actual Result

* The command line application responds with error:

[code]

The already existing option that is mentioned is the global environment `-e | --env=ENV` option which conflicts with the `-e | --email=EMAIL` opt

[2018-01-17 21:07] hollodotme opened #1080 "Old phinx.yml used in script/test"
# Steps required to reproduce the problem

1. Run `script/test`

# Expected Result

* Unit and integration tests will run

# Actual Result

* The script produces the following output:

[code]

# Reason

* The file `script/test` contains the following line:

[code]

It refers to the old `phinx.yml` instead of `phinx.php` file.

# Proposed solution

* Change the value to `--configuration=phinx.php`

[2018-01-18 14:24] #1080 closed

[2018-01-18 14:37] #1078 closed

[2018-01-20 18:16] heiglandreas opened #1083 "Ask only for the username for Joind.in-Link"
# Feature-Request:

Currently users can add a link to their joind.in profile. For that they need to enter the complete URL.

In my opinion it would be easier to let users enter their joind.in-username and to create the link  for them. That would then be the same process as for twitter.

[2018-01-20 18:18] localheinz commented on #1083
Sounds good to me, @heiglandreas!

[2018-01-20 18:20] heiglandreas opened #1084 "Add a way to easily set up a development environment"
Currently as a new contributor I need to setup a complete dev-environment to get everything up and running.

But it would be much easier and faster (and perhaps even more reliable) when I could fire up a dev-environment with a command such as `docker-compose up` or `vagrant up` and start developing right away.

[2018-01-20 18:51] mdwheele commented on #1084
@heiglandreas

This is what I currently use for development: https://github.com/mdwheele/opencfp-docker

I would be glad for someone else to give it a test drive and kick the tires. It's something I would be interested in adding to the project some day. We've talked about doing so in the past. There are instructions for setting it up as-if it were part of the project so that when integrated there

[2018-01-20 18:53] mdwheele commented on #1084
Worth noting that you have to get your development config right. This is something that I would document if it were integrated here. I apologize if I'm making a lower assumption of knowledge. All Docker Compose services should be addressable by name, so the host for database is "db", etc.

[2018-01-20 20:04] heiglandreas commented on #1084
Hey @mdwheele : Do I get that right that I need to clone opencfp-docker insight opencfp?

Like this?
[code]

[2018-01-20 20:53] mdwheele commented on #1084
That's right. I would rename the directory to ".docker" and also add it to ".git/info/exclude" in your clone of OpenCFP. Check out the README in the Docker repository. I'm on phone and might have typod

[2018-01-20 21:06] mdwheele commented on #1084
Whoops! I thought I had added instructions re: lining. I have another project similar to run GitHub Classroom.  It can be adapted for this: https://github.com/mdwheele/classroom-docker/blob/master/README.md

Really, it's just about getting a .docker directory into root of your OpenCFP repo and ignoring it without committing to .gitignore.

Sorry for confusion.

[2018-01-20 21:31] heiglandreas commented on #1084
No Problem :) Got it running (hopefully, it's still running `cfp build`)

[2018-01-20 21:51] mdwheele commented on #1084
Yeah, if we ever pull it in here, I plan to get Travis to build it and push to Docker Hub so you don't have to wait on build. Luckily it's more or less a one time thing to get some tools and extensions on the image.

[2018-01-21 10:26] derrabus commented on #1083
Migrating this could be ugly if users have already used that field for URLs other than a joind.in profile link.

[2018-01-25 16:04] stevecoug opened #1089 "Password reset does not work, results in Internal Server Error"
# Steps required to reproduce the problem

1. Click on "Forgot Password"
2. Enter email address and submit
3. Click on link received via email
4. Enter new password (twice) and submit

# Expected Result

* Password changed successfully

# Actual Result

* Internal Server Error
`[2018-01-25 15:57:47] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Ty

[2018-01-25 16:44] chartjes commented on #1089
@stevecoug What release of OpenCFP are you currently using?

[2018-01-25 17:00] stevecoug commented on #1089
We're bleeding edge...
I'm working on a fix. I've got a temporary fix (call intval on the user_id), but I'm looking into how it gets called, and getting some tests around it.

[2018-01-25 17:01] chartjes commented on #1089
I have also been debugging the issue and I can't even get it to email anything...looks like the swiftmailer object isn't being configured correctly

[2018-01-25 17:10] stevecoug commented on #1089
I received the emails just fine, so it may just be your environment.

[2018-01-25 17:12] chartjes commented on #1089
Yeah, once I did script/setup things are fine.

I did figure out the problem -- in `UpdatePasswordAction` we need to explicitly cast the user_id to be an integer when we pull it out of the data from the form.

I will patch that up, fix any tests, and then close this issue.

Thanks so much for pointing that out to us

[2018-01-25 17:14] stevecoug commented on #1089
That's what I did on my end, but I was going to see if it could be corrected elsewhere. I hate just casting stuff to an int as a fix. 😃

[2018-01-25 17:15] chartjes commented on #1089
Probably the best way to do it anyway

[2018-01-25 17:24] stevecoug commented on #1089
Could make the Sentinel have some logic to determine if it's a numeric string, but that doesn't seem right. Is the form defined somewhere, where we could force it to expect user_id to be an integer?

[2018-01-25 17:33] chartjes commented on #1089
Our implementation always assumes it is an integer, but I will look and see if the form can force the return of that value as an integer.

[2018-01-26 01:54] ustayready commented on #1075
We at Bsides Orlando are trying to roll out OpenCFP this year, biggest request among us was blind review. Looking forward to this!